In [92]:
import pandas

In [93]:
import pandas as pd

In [94]:
import seaborn as sns
import geopandas as gpd
import matplotlib.pyplot as plt
import contextily as ctx
from geopandas_view import view
plt.rcParams['figure.figsize'] = [20,10]

In [95]:
attendance_CAcounties = pandas.read_csv('attendance_rates.csv')

In [96]:
attendance_CAcounties.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
0,0,0,0,0,0,0,0,0,0,0,...,NaN,Alameda,NaN,NaN,All,GF,114224,112861,16501,14.6
1,1,1,1,1,1,1,1,1,1,1,...,NaN,Alameda,NaN,NaN,No,GF,102681,101285,15082,14.9
2,2,2,2,2,2,2,2,2,2,2,...,NaN,Alameda,NaN,NaN,Yes,GF,12096,11850,1530,12.9
3,3,3,3,3,3,3,3,3,3,3,...,NaN,Alameda,NaN,NaN,All,GM,121852,120048,18167,15.1
4,4,4,4,4,4,4,4,4,4,4,...,NaN,Alameda,NaN,NaN,No,GM,110192,108370,16793,15.5

In [97]:
type(attendance_CAcounties)

pandas.core.frame.DataFrame

In [98]:
df=attendance_CAcounties
df[df.CharterYN=='No ']

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
1,1,1,1,1,1,1,1,1,1,1,...,NaN,Alameda,NaN,NaN,No,GF,102681,101285,15082,14.9
4,4,4,4,4,4,4,4,4,4,4,...,NaN,Alameda,NaN,NaN,No,GM,110192,108370,16793,15.5
7,7,7,7,7,7,7,7,7,7,7,...,NaN,Alameda,NaN,NaN,No,GR13,49690,49062,6234,12.7
10,10,10,10,10,10,10,10,10,10,10,...,NaN,Alameda,NaN,NaN,No,GR46,47912,47404,5528,11.7
13,13,13,13,13,13,13,13,13,13,13,...,NaN,Alameda,NaN,NaN,No,GR78,31433,31041,3880,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239796,239796,239796,239796,239796,239796,239796,239796,239796,239796,239796,...,NaN,State,NaN,NaN,No,SF,44010,42225,11486,27.2
239799,239799,239799,239799,239799,239799,239799,239799,239799,239799,239799,...,NaN,State,NaN,NaN,No,SH,252164,249918,61465,24.6
239802,239802,239802,239802,239802,239802,239802,239802,239802,239802,239802,...,NaN,State,NaN,NaN,No,SM,53580,53309,4775,9.0
239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,...,NaN,State,NaN,NaN,No,SS,3554982,3524760,536247,15.2
239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,...,NaN,State,NaN,NaN,No,TA,5678140,5611163,676060,12.0

In [99]:
df.CharterYN.unique()

array(['All', 'No ', 'Yes'], dtype=object)

In [100]:
attendance_CAcounties[attendance_CAcounties.CharterYN=='No ']

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
1,1,1,1,1,1,1,1,1,1,1,...,NaN,Alameda,NaN,NaN,No,GF,102681,101285,15082,14.9
4,4,4,4,4,4,4,4,4,4,4,...,NaN,Alameda,NaN,NaN,No,GM,110192,108370,16793,15.5
7,7,7,7,7,7,7,7,7,7,7,...,NaN,Alameda,NaN,NaN,No,GR13,49690,49062,6234,12.7
10,10,10,10,10,10,10,10,10,10,10,...,NaN,Alameda,NaN,NaN,No,GR46,47912,47404,5528,11.7
13,13,13,13,13,13,13,13,13,13,13,...,NaN,Alameda,NaN,NaN,No,GR78,31433,31041,3880,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239796,239796,239796,239796,239796,239796,239796,239796,239796,239796,239796,...,NaN,State,NaN,NaN,No,SF,44010,42225,11486,27.2
239799,239799,239799,239799,239799,239799,239799,239799,239799,239799,239799,...,NaN,State,NaN,NaN,No,SH,252164,249918,61465,24.6
239802,239802,239802,239802,239802,239802,239802,239802,239802,239802,239802,...,NaN,State,NaN,NaN,No,SM,53580,53309,4775,9.0
239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,...,NaN,State,NaN,NaN,No,SS,3554982,3524760,536247,15.2
239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,...,NaN,State,NaN,NaN,No,TA,5678140,5611163,676060,12.0

In [101]:
attendance_CAcounties=attendance_CAcounties[attendance_CAcounties.CharterYN=='No ']

In [102]:
attendance_CAcounties.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'Unnamed: 0.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1.1', 'AcademicYear', 'AggregateLevel',
       'CountyCode', 'DistrictCode', 'SchoolCode', 'CountyName',
       'DistrictName', 'SchoolName', 'CharterYN', 'ReportingCategory',
       'CumulativeEnrollment',
       'ChronicAbsenteeismEligibleCumulativeEnrollment',
       'ChronicAbsenteeismCount', 'ChronicAbsenteeismRate'],
      dtype='object')

In [103]:
attendance_CAcounties.groupby(by='CountyName').sum()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1.1,CountyCode,DistrictCode,SchoolCode
CountyName,,,,,,,,,,,,,,,,
Alameda,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,491,27287027.0,0.0
Alpine,82784,82784,82784,82784,82784,82784,82784,82784,82784,82784,82784,82784,82784,64,981328.0,0.0
Amador,224686,224686,224686,224686,224686,224686,224686,224686,224686,224686,224686,224686,224686,198,1902223.0,0.0
Butte,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1324,18341651.0,0.0
Calaveras,605332,605332,605332,605332,605332,605332,605332,605332,605332,605332,605332,605332,605332,610,5219602.0,0.0
Colusa,690358,690358,690358,690358,690358,690358,690358,690358,690358,690358,690358,690358,690358,798,5942322.0,0.0
Contra Costa,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2870,22641001.0,0.0
Del Norte,304730,304730,304730,304730,304730,304730,304730,304730,304730,304730,304730,304730,304730,504,1593254.0,0.0
El Dorado,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,3060,18798633.0,0.0
Fresno,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,6570,40737683.0,0.0
Glenn,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,2167,10557003.0,0.0
Humboldt,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,7212,36298106.0,0.0
Imperial,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4771,20441826.0,0.0
Inyo,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,2128,7724397.0,0.0
Kern,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,14265,58650182.0,0.0
Kings,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,4096,13912396.0,0.0
Lake,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,3060,9250575.0,0.0
Lassen,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,4086,12366110.0,0.0
Los Angeles,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,34808,118015500.0,0.0
Madera,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4580,12916519.0,0.0
Marin,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,8169,22979506.0,0.0
Mariposa,899054,899054,899054,899054,899054,899054,899054,899054,899054,899054,899054,899054,899054,1364,1625718.0,0.0
Mendocino,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,6486,16329231.0,0.0
Merced,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,11160,28458664.0,0.0
Modoc,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,2600,4719916.0,0.0
Mono,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1950,3207464.0,0.0
Monterey,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,14391,33084174.0,0.0
Napa,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,4116,7031087.0,0.0
Nevada,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,6090,11508223.0,0.0
Orange,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,19620,41297878.0,0.0
Placer,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,11160,21467150.0,0.0
Plumas,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1984,1659114.0,0.0
Riverside,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,19239,36374446.0,0.0
Sacramento,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,12138,21139741.0,0.0
San Benito,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,8085,13124432.0,0.0
San Bernardino,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,27540,50018597.0,0.0
San Diego,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,34965,62339089.0,0.0
San Francisco,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,2736,1892808.0,0.0
San Joaquin,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,13923,21855387.0,0.0
San Luis Obispo,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,10600,15651772.0,0.0
San Mateo,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,21648,33411339.0,0.0
Santa Barbara,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,18270,27490657.0,0.0
Santa Clara,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,30745,46778878.0,0.0
Santa Cruz,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,11968,16132980.0,0.0
Shasta,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,23220,33494253.0,0.0
Sierra,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,2024,1543894.0,0.0
Siskiyou,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,22560,31028025.0,0.0
Solano,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,9024,10189114.0,0.0
Sonoma,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,39200,53857713.0,0.0
Stanislaus,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,26400,35057872.0,0.0
State,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,0,0.0,0.0
Sutter,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,13974,16452063.0,0.0
Tehama,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,16380,19542565.0,0.0
Trinity,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,9752,11156628.0,0.0
Tulare,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,45090,57528584.0,0.0
Tuolumne,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,14520,16326902.0,0.0
Ventura,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,24696,29069161.0,0.0
Yolo,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,9234,8665250.0,0.0
Yuba,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,8642,7725709.0,0.0

In [104]:
attendance_CAcounties.dtypes

Unnamed: 0                                          int64
Unnamed: 0.1                                        int64
Unnamed: 0.1.1                                      int64
Unnamed: 0.1.1.1                                    int64
Unnamed: 0.1.1.1.1                                  int64
Unnamed: 0.1.1.1.1.1                                int64
Unnamed: 0.1.1.1.1.1.1                              int64
Unnamed: 0.1.1.1.1.1.1.1                            int64
Unnamed: 0.1.1.1.1.1.1.1.1                          int64
Unnamed: 0.1.1.1.1.1.1.1.1.1                        int64
Unnamed: 0.1.1.1.1.1.1.1.1.1.1                      int64
Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1                    int64
Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1.1                  int64
AcademicYear                                       object
AggregateLevel                                     object
CountyCode                                          int64
DistrictCode                                      float64
SchoolCode                                        float64
CountyName                                         object
DistrictName                                       object
SchoolName                                         object
CharterYN                                          object
ReportingCategory                                  object
CumulativeEnrollment                               object
ChronicAbsenteeismEligibleCumulativeEnrollment     object
ChronicAbsenteeismCount                            object
ChronicAbsenteeismRate                             object
dtype: object

In [105]:
car=attendance_CAcounties.ChronicAbsenteeismRate

In [106]:
(car=="*").sum()

3381

In [107]:
df.CumulativeEnrollment.unique()

array(['114224', '102681', '12096', ..., '6329883', '5678140', '758633'],
      dtype=object)

In [200]:
import numpy as np

In [109]:
df.replace("*",np.nan)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
0,0,0,0,0,0,0,0,0,0,0,...,NaN,Alameda,NaN,NaN,All,GF,114224,112861,16501,14.6
1,1,1,1,1,1,1,1,1,1,1,...,NaN,Alameda,NaN,NaN,No,GF,102681,101285,15082,14.9
2,2,2,2,2,2,2,2,2,2,2,...,NaN,Alameda,NaN,NaN,Yes,GF,12096,11850,1530,12.9
3,3,3,3,3,3,3,3,3,3,3,...,NaN,Alameda,NaN,NaN,All,GM,121852,120048,18167,15.1
4,4,4,4,4,4,4,4,4,4,4,...,NaN,Alameda,NaN,NaN,No,GM,110192,108370,16793,15.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,...,NaN,State,NaN,NaN,No,SS,3554982,3524760,536247,15.2
239806,239806,239806,239806,239806,239806,239806,239806,239806,239806,239806,...,NaN,State,NaN,NaN,Yes,SS,461441,439477,76914,17.5
239807,239807,239807,239807,239807,239807,239807,239807,239807,239807,239807,...,NaN,State,NaN,NaN,All,TA,6329883,6258845,755950,12.1
239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,...,NaN,State,NaN,NaN,No,TA,5678140,5611163,676060,12.0
239809,239809,239809,239809,239809,239809,239809,239809,239809,239809,239809,...,NaN,State,NaN,NaN,Yes,TA,758633,706658,99129,14.0

In [110]:
attendance_CAcounties=attendance_CAcounties.replace("*",np.nan)

In [111]:
attendance_CAcounties.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'Unnamed: 0.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1.1', 'AcademicYear', 'AggregateLevel',
       'CountyCode', 'DistrictCode', 'SchoolCode', 'CountyName',
       'DistrictName', 'SchoolName', 'CharterYN', 'ReportingCategory',
       'CumulativeEnrollment',
       'ChronicAbsenteeismEligibleCumulativeEnrollment',
       'ChronicAbsenteeismCount', 'ChronicAbsenteeismRate'],
      dtype='object')

In [112]:
attendance_CAcounties.ChronicAbsenteeismCount=attendance_CAcounties.ChronicAbsenteeismCount.astype(float)

In [113]:
df.CumulativeEnrollment.dtype

dtype('O')

In [114]:
attendance_CAcounties.CumulativeEnrollment=attendance_CAcounties.CumulativeEnrollment.astype(float)

In [115]:
attendance_CAcounties.CumulativeEnrollment.head()

1     102681.0
4     110192.0
7      49690.0
10     47912.0
13     31433.0
Name: CumulativeEnrollment, dtype: float64

In [116]:
attendance_CAcounties.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21709 entries, 1 to 239808
Data columns (total 27 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      21709 non-null  int64
 1   Unnamed: 0.1                                    21709 non-null  int64
 2   Unnamed: 0.1.1                                  21709 non-null  int64
 3   Unnamed: 0.1.1.1                                21709 non-null  int64
 4   Unnamed: 0.1.1.1.1                              21709 non-null  int64
 5   Unnamed: 0.1.1.1.1.1                            21709 non-null  int64
 6   Unnamed: 0.1.1.1.1.1.1                          21709 non-null  int64
 7   Unnamed: 0.1.1.1.1.1.1.1                        21709 non-null  int64
 8   Unnamed: 0.1.1.1.1.1.1.1.1                      21709 non-null  int64
 9   Unnamed: 0.1.1.1.1.1.1.1.1.1                    21709 non-null  int64
 10  Unnamed: 0.1.1.1.1.1.1.1.1.1.1                  21709 non-null  int64
 11  Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1                21709 non-null  int64
 12  Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1.1              21709 non-null  int64
 13  AcademicYear                                    21709 non-null  object
 14  AggregateLevel                                  21709 non-null  object
 15  CountyCode                                      21709 non-null  int64
 16  DistrictCode                                    20320 non-null  float64
 17  SchoolCode                                      20320 non-null  float64
 18  CountyName                                      21709 non-null  object
 19  DistrictName                                    20320 non-null  object
 20  SchoolName                                      20320 non-null  object
 21  CharterYN                                       21709 non-null  object
 22  ReportingCategory                               21709 non-null  object
 23  CumulativeEnrollment                            18328 non-null  float64
 24  ChronicAbsenteeismEligibleCumulativeEnrollment  18328 non-null  object
 25  ChronicAbsenteeismCount                         18328 non-null  float64
 26  ChronicAbsenteeismRate                          18328 non-null  object
dtypes: float64(4), int64(14), object(9)
memory usage: 4.6+ MB

In [117]:
attendance_CAcounties[["CumulativeEnrollment","CountyName"]]

        CumulativeEnrollment CountyName
1                   102681.0    Alameda
4                   110192.0    Alameda
7                    49690.0    Alameda
10                   47912.0    Alameda
13                   31433.0    Alameda
...                      ...        ...
239796               44010.0      State
239799              252164.0      State
239802               53580.0      State
239805             3554982.0      State
239808             5678140.0      State

[21709 rows x 2 columns]

In [118]:
attendance_CAcounties[["CumulativeEnrollment","CountyName"]].groupby("CountyName").sum()

                 CumulativeEnrollment
CountyName
Alameda                     2345464.0
Alpine                          986.0
Amador                        48087.0
Butte                        338729.0
Calaveras                     58591.0
Colusa                        60099.0
Contra Costa                1792240.0
Del Norte                     45492.0
El Dorado                    269761.0
Fresno                      2352385.0
Glenn                         66047.0
Humboldt                     189546.0
Imperial                     479905.0
Inyo                          30952.0
Kern                        2187421.0
Kings                        305214.0
Lake                         118476.0
Lassen                        40399.0
Los Angeles                15179823.0
Madera                       371841.0
Marin                        356818.0
Mariposa                      21562.0
Mendocino                    151654.0
Merced                       739236.0
Modoc                         17162.0
Mono                          19371.0
Monterey                     958313.0
Napa                         219482.0
Nevada                        79322.0
Orange                      5351478.0
Placer                       706035.0
Plumas                        22763.0
Riverside                   4947331.0
Sacramento                  2585435.0
San Benito                   133872.0
San Bernardino              4707147.0
San Diego                   5064892.0
San Francisco                635433.0
San Joaquin                 1605705.0
San Luis Obispo              389137.0
San Mateo                    972014.0
Santa Barbara                799368.0
Santa Clara                 2651967.0
Santa Cruz                   414245.0
Shasta                       270100.0
Sierra                         4668.0
Siskiyou                      65886.0
Solano                       688186.0
Sonoma                       583992.0
Stanislaus                  1243759.0
State                      32440356.0
Sutter                       217906.0
Tehama                       136671.0
Trinity                       18030.0
Tulare                      1198005.0
Tuolumne                      62457.0
Ventura                     1530715.0
Yolo                         333665.0
Yuba                         169580.0

In [119]:
CAcounty_summary=attendance_CAcounties[["ChronicAbsenteeismCount","CumulativeEnrollment","CountyName"]].groupby("CountyName").sum()

In [120]:
CAcounty_summary.head()

            ChronicAbsenteeismCount  CumulativeEnrollment
CountyName
Alameda                    373198.0             2345464.0
Alpine                        194.0                 986.0
Amador                       7356.0               48087.0
Butte                       58888.0              338729.0
Calaveras                    9848.0               58591.0

In [121]:
CAcounty_summary["absentrate"]=CAcounty_summary.ChronicAbsenteeismCount/CAcounty_summary.CumulativeEnrollment

In [122]:
CAcounty_summary.head()

            ChronicAbsenteeismCount  CumulativeEnrollment  absentrate
CountyName
Alameda                    373198.0             2345464.0    0.159115
Alpine                        194.0                 986.0    0.196755
Amador                       7356.0               48087.0    0.152973
Butte                       58888.0              338729.0    0.173850
Calaveras                    9848.0               58591.0    0.168080

In [123]:
CAcounties_absentrate = CAcounty_summary

In [124]:
CAcounties_absentrate.head()

            ChronicAbsenteeismCount  CumulativeEnrollment  absentrate
CountyName
Alameda                    373198.0             2345464.0    0.159115
Alpine                        194.0                 986.0    0.196755
Amador                       7356.0               48087.0    0.152973
Butte                       58888.0              338729.0    0.173850
Calaveras                    9848.0               58591.0    0.168080

1. here read in grad CSV file and run code at county level. 
2. do a table join to both df's
3. join/merge to the geosnap df to add the polygons
4. do visuals 
5. we got this!

In [125]:
grad_counties=pd.read_csv("graduation_rates.csv")

In [126]:
grad_counties.head()

,Unnamed: 0,Unnamed: 0.1,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,0,0,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,65,0.8,2,0.0,24,0.3,440,5.2,228,2.7
1,1,1,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,123,1.3,1,0.0,54,0.6,823,9.0,417,4.6
2,2,2,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,24,0.6,0,0.0,11,0.3,112,2.6,41,1.0
3,3,3,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,39,2.2,0,0.0,10,0.6,167,9.2,148,8.2
4,4,4,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,3,3.3,0,0.0,4,4.3,15,16.3,7,7.6

In [127]:
grad_counties.groupby(by='CountyName').sum()

,Unnamed: 0,Unnamed: 0.1,CountyCode,DistrictCode,SchoolCode
CountyName,,,,,
Alameda,525756350,525756350,9549,5.534765e+08,2.009448e+09
Amador,30220604,30220604,1968,2.845167e+07,1.284256e+08
Butte,150465121,150465121,11652,1.445357e+08,1.276702e+09
Calaveras,55263721,55263721,5645,4.607929e+07,8.122933e+08
Colusa,51438085,51438085,6876,5.788859e+07,3.818154e+08
Contra Costa,388268502,388268502,42035,3.229138e+08,2.700487e+09
Del Norte,29868946,29868946,5504,1.827265e+07,2.323759e+08
El Dorado,102611427,102611427,16542,8.868021e+07,1.162877e+09
Fresno,604999235,604999235,93190,5.723819e+08,5.830326e+09
Glenn,79513777,79513777,16522,7.355719e+07,1.107155e+09
Humboldt,184336515,184336515,34296,1.470288e+08,1.676724e+09
Imperial,140439241,140439241,30030,1.161854e+08,1.868196e+09
Inyo,81440719,81440719,18732,6.238726e+07,6.864265e+08
Kern,420826927,420826927,84030,3.283101e+08,5.193923e+09
Kings,157624509,157624509,37728,1.324639e+08,1.810898e+09
Lake,127536614,127536614,32028,1.089480e+08,1.602146e+09
Lassen,81308890,81308890,24264,7.126330e+07,1.363318e+09
Los Angeles,5175003390,5175003390,911202,3.055589e+09,4.999406e+10
Madera,262982089,262982089,51080,1.502302e+08,2.211884e+09
Marin,197079272,197079272,39144,9.544774e+07,2.451705e+09
Mariposa,47694950,47694950,11176,2.660599e+07,6.782782e+08
Mendocino,321634876,321634876,73784,1.928931e+08,4.096284e+09
Merced,335129412,335129412,73536,1.623352e+08,4.314268e+09
Modoc,65043848,65043848,19400,4.149686e+07,1.270041e+09
Mono,72765317,72765317,21268,3.236693e+07,8.051736e+08
Monterey,391073078,391073078,96363,2.073742e+08,5.221184e+09
Napa,128351489,128351489,33992,6.209080e+07,1.760001e+09
Nevada,150339946,150339946,40368,5.664590e+07,1.584136e+09
Orange,1499680528,1499680528,329850,6.839253e+08,2.217608e+10
Placer,434264837,434264837,105493,1.987885e+08,5.026850e+09
Plumas,91682676,91682676,26496,3.949355e+07,1.428718e+09
Riverside,1690522947,1690522947,394977,7.581020e+08,1.834891e+10
Sacramento,1347685238,1347685238,298520,5.680055e+08,1.567224e+10
San Benito,77579532,77579532,25200,2.957432e+07,1.095164e+09
San Bernardino,2045628704,2045628704,477252,8.875863e+08,2.254078e+10
San Diego,2961908022,2961908022,646279,1.162201e+09,2.985623e+10
San Francisco,440143883,440143883,94164,1.342723e+08,5.644587e+09
San Joaquin,1042291077,1042291077,237861,3.818105e+08,9.346375e+09
San Luis Obispo,376207557,376207557,100080,1.440126e+08,5.615924e+09
San Mateo,663143150,663143150,160679,2.292276e+08,7.263811e+09
Santa Barbara,577628379,577628379,153804,2.375426e+08,5.790962e+09
Santa Clara,1445656371,1445656371,327961,4.759696e+08,1.825456e+10
Santa Cruz,464563864,464563864,116292,1.465660e+08,5.988260e+09
Shasta,497494334,497494334,129780,1.758466e+08,6.568087e+09
Sierra,30509190,30509190,10856,1.235115e+07,5.374645e+08
Siskiyou,259001116,259001116,77080,8.624325e+07,4.156842e+09
Solano,542144168,542144168,147072,1.868791e+08,7.646778e+09
Sonoma,968192020,968192020,270921,3.635355e+08,1.109120e+10
Stanislaus,959337635,959337635,266250,3.405219e+08,1.231415e+10
State,43492824,43492824,0,0.000000e+00,0.000000e+00
Sutter,342527365,342527365,107865,1.251568e+08,3.767281e+09
Tehama,172423788,172423788,61568,5.957069e+07,2.563640e+09
Trinity,126190671,126190671,47859,4.376409e+07,1.637648e+09
Tulare,1043844549,1043844549,299700,3.593264e+08,1.460525e+10
Tuolumne,250552209,250552209,79090,8.084241e+07,3.867621e+09
Ventura,965397995,965397995,278264,3.151996e+08,1.413526e+10
Yolo,406006124,406006124,130644,1.341774e+08,5.664707e+09
Yuba,242467632,242467632,81954,6.822238e+07,3.577085e+09

In [128]:
grad_counties.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'AcademicYear', 'AggregateLevel',
       'CountyCode', 'DistrictCode', 'SchoolCode', 'CountyName',
       'DistrictName', 'SchoolName', 'CharterSchool', 'DASS',
       'ReportingCategory', 'CohortStudents',
       'Regular HS Diploma Graduates (Count)',
       'Regular HS Diploma Graduates (Rate)', 'Met UC/CSU Grad Req's (Count)',
       'Met UC/CSU Grad Req's (Rate)', 'Seal of Biliteracy (Count)',
       'Seal of Biliteracy (Rate)', 'Golden State Seal Merit Diploma (Count)',
       'Golden State Seal Merit Diploma (Rate', 'CHSPE Completer (Count)',
       'CHSPE Completer (Rate)', 'Adult Ed. HS Diploma (Count)',
       'Adult Ed. HS Diploma (Rate)', 'SPED Certificate (Count)',
       'SPED Certificate (Rate)', 'GED Completer (Count)',
       'GED Completer (Rate)', 'Other Transfer (Count)',
       'Other Transfer (Rate)', 'Dropout (Count)', 'Dropout (Rate)',
       'Still Enrolled (Count)', 'Still Enrolled (Rate)'],
      dtype='object')

In [129]:
grad_counties.dtypes

Unnamed: 0                                   int64
Unnamed: 0.1                                 int64
AcademicYear                                object
AggregateLevel                              object
CountyCode                                   int64
DistrictCode                               float64
SchoolCode                                 float64
CountyName                                  object
DistrictName                                object
SchoolName                                  object
CharterSchool                               object
DASS                                        object
ReportingCategory                           object
CohortStudents                              object
Regular HS Diploma Graduates (Count)        object
Regular HS Diploma Graduates (Rate)         object
Met UC/CSU Grad Req's (Count)               object
Met UC/CSU Grad Req's (Rate)                object
Seal of Biliteracy (Count)                  object
Seal of Biliteracy (Rate)                   object
Golden State Seal Merit Diploma (Count)     object
Golden State Seal Merit Diploma (Rate       object
CHSPE Completer (Count)                     object
CHSPE Completer (Rate)                      object
Adult Ed. HS Diploma (Count)                object
Adult Ed. HS Diploma (Rate)                 object
SPED Certificate (Count)                    object
SPED Certificate (Rate)                     object
GED Completer (Count)                       object
GED Completer (Rate)                        object
Other Transfer (Count)                      object
Other Transfer (Rate)                       object
Dropout (Count)                             object
Dropout (Rate)                              object
Still Enrolled (Count)                      object
Still Enrolled (Rate)                       object
dtype: object

In [130]:
import numpy as np

In [131]:
grad_counties=grad_counties.replace("*",np.nan)

In [132]:
grad_counties["Dropout (Rate)"]=grad_counties["Dropout (Rate)"].astype(float)

In [133]:
grad_counties["Regular HS Diploma Graduates (Rate)"]=grad_counties["Regular HS Diploma Graduates (Rate)"].astype(float)

In [134]:
grad_counties.head()

,Unnamed: 0,Unnamed: 0.1,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,0,0,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,65,0.8,2,0.0,24,0.3,440,5.2,228,2.7
1,1,1,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,123,1.3,1,0.0,54,0.6,823,9.0,417,4.6
2,2,2,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,24,0.6,0,0.0,11,0.3,112,2.6,41,1.0
3,3,3,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,39,2.2,0,0.0,10,0.6,167,9.2,148,8.2
4,4,4,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,3,3.3,0,0.0,4,4.3,15,16.3,7,7.6

In [135]:
grad_counties.dtypes

Unnamed: 0                                   int64
Unnamed: 0.1                                 int64
AcademicYear                                object
AggregateLevel                              object
CountyCode                                   int64
DistrictCode                               float64
SchoolCode                                 float64
CountyName                                  object
DistrictName                                object
SchoolName                                  object
CharterSchool                               object
DASS                                        object
ReportingCategory                           object
CohortStudents                              object
Regular HS Diploma Graduates (Count)        object
Regular HS Diploma Graduates (Rate)        float64
Met UC/CSU Grad Req's (Count)               object
Met UC/CSU Grad Req's (Rate)                object
Seal of Biliteracy (Count)                  object
Seal of Biliteracy (Rate)                   object
Golden State Seal Merit Diploma (Count)     object
Golden State Seal Merit Diploma (Rate       object
CHSPE Completer (Count)                     object
CHSPE Completer (Rate)                      object
Adult Ed. HS Diploma (Count)                object
Adult Ed. HS Diploma (Rate)                 object
SPED Certificate (Count)                    object
SPED Certificate (Rate)                     object
GED Completer (Count)                       object
GED Completer (Rate)                        object
Other Transfer (Count)                      object
Other Transfer (Rate)                       object
Dropout (Count)                             object
Dropout (Rate)                             float64
Still Enrolled (Count)                      object
Still Enrolled (Rate)                       object
dtype: object

In [136]:
grad_counties=grad_counties[["Dropout (Rate)","Regular HS Diploma Graduates (Rate)","CountyName"]].groupby("CountyName").sum()

In [137]:
grad_counties.head()

            Dropout (Rate)  Regular HS Diploma Graduates (Rate)
CountyName
Alameda            46304.3                             345454.1
Amador               863.6                              18292.4
Butte              17108.3                              88204.6
Calaveras           1854.2                              29262.6
Colusa              2365.2                              29169.2

In [157]:
schoolcounty_data=CAcounties_absentrate.merge(grad_counties,on="CountyName")

In [163]:
schoolcounty_data.head()

,ChronicAbsenteeismCount,CumulativeEnrollment,absentrate,Dropout (Rate),Regular HS Diploma Graduates (Rate)
CountyName,,,,,
Alameda,373198.0,2345464.0,0.159115,46304.3,345454.1
Amador,7356.0,48087.0,0.152973,863.6,18292.4
Butte,58888.0,338729.0,0.173850,17108.3,88204.6
Calaveras,9848.0,58591.0,0.168080,1854.2,29262.6
Colusa,5371.0,60099.0,0.089369,2365.2,29169.2

In [164]:
schoolcounty_data=schoolcounty_data.reset_index()

In [176]:
schoolcounty_data.head()

,CountyName,ChronicAbsenteeismCount,CumulativeEnrollment,absentrate,Dropout (Rate),Regular HS Diploma Graduates (Rate)
0,Alameda,373198.0,2345464.0,0.159115,46304.3,345454.1
1,Amador,7356.0,48087.0,0.152973,863.6,18292.4
2,Butte,58888.0,338729.0,0.173850,17108.3,88204.6
3,Calaveras,9848.0,58591.0,0.168080,1854.2,29262.6
4,Colusa,5371.0,60099.0,0.089369,2365.2,29169.2

In [142]:
from geosnap import datasets

In [143]:
counties=datasets.counties()

In [144]:
counties.head()

   geoid                                           geometry
0  31039  POLYGON ((-97.01952 42.00410, -97.01952 42.004...
1  53069  POLYGON ((-123.43639 46.23820, -123.44759 46.2...
2  35011  POLYGON ((-104.56739 33.99757, -104.56772 33.9...
3  31109  POLYGON ((-96.91060 40.95841, -96.91060 40.958...
4  31129  POLYGON ((-98.27367 40.08940, -98.27367 40.089...

In [145]:
fips=pandas.read_csv("https://raw.githubusercontent.com/kjhealy/us-county/master/data/census/fips-by-state.csv",converters={"fips":str},encoding="latin1")

In [146]:
fips.head()

    fips            name state
0  01001  Autauga County    AL
1  01003  Baldwin County    AL
2  01005  Barbour County    AL
3  01007     Bibb County    AL
4  01009   Blount County    AL

In [147]:
counties=counties.merge(fips,left_on="geoid",right_on="fips")

In [148]:
counties.head()

,geoid,geometry,fips,name,state
0,31039,"POLYGON ((-97.01952 42.00410, -97.01952 42.004...",31039,Cuming County,NE
1,53069,"POLYGON ((-123.43639 46.23820, -123.44759 46.2...",53069,Wahkiakum County,WA
2,35011,"POLYGON ((-104.56739 33.99757, -104.56772 33.9...",35011,De Baca County,NM
3,31109,"POLYGON ((-96.91060 40.95841, -96.91060 40.958...",31109,Lancaster County,NE
4,31129,"POLYGON ((-98.27367 40.08940, -98.27367 40.089...",31129,Nuckolls County,NE

In [149]:
counties.name=counties.name.apply(lambda x:x[:-7])

In [150]:
counties.head()

,geoid,geometry,fips,name,state
0,31039,"POLYGON ((-97.01952 42.00410, -97.01952 42.004...",31039,Cuming,NE
1,53069,"POLYGON ((-123.43639 46.23820, -123.44759 46.2...",53069,Wahkiakum,WA
2,35011,"POLYGON ((-104.56739 33.99757, -104.56772 33.9...",35011,De Baca,NM
3,31109,"POLYGON ((-96.91060 40.95841, -96.91060 40.958...",31109,Lancaster,NE
4,31129,"POLYGON ((-98.27367 40.08940, -98.27367 40.089...",31129,Nuckolls,NE

In [180]:
schoolcounty_data.head()

,CountyName,ChronicAbsenteeismCount,CumulativeEnrollment,absentrate,Dropout (Rate),Regular HS Diploma Graduates (Rate)
0,Alameda,373198.0,2345464.0,0.159115,46304.3,345454.1
1,Amador,7356.0,48087.0,0.152973,863.6,18292.4
2,Butte,58888.0,338729.0,0.173850,17108.3,88204.6
3,Calaveras,9848.0,58591.0,0.168080,1854.2,29262.6
4,Colusa,5371.0,60099.0,0.089369,2365.2,29169.2

In [192]:
counties=counties.merge(schoolcounty_data, left_on="name", right_on="CountyName",how="right")

In [193]:
counties=counties[counties.state=="CA"]

In [194]:
counties.head()

,geoid,geometry,fips,name,state,ChronicAbsenteeismCount_x,CumulativeEnrollment_x,absentrate_x,Dropout (Rate)_x,Regular HS Diploma Graduates (Rate)_x,...,CumulativeEnrollment_x,absentrate_x,Dropout (Rate)_x,Regular HS Diploma Graduates (Rate)_x,CountyName,ChronicAbsenteeismCount_y,CumulativeEnrollment_y,absentrate_y,Dropout (Rate)_y,Regular HS Diploma Graduates (Rate)_y
0,06001,"POLYGON ((-122.28088 37.70723, -122.28178 37.7...",06001,Alameda,CA,373198.0,2345464.0,0.159115,46304.3,345454.1,...,2345464.0,0.159115,46304.3,345454.1,Alameda,373198.0,2345464.0,0.159115,46304.3,345454.1
1,06005,"POLYGON ((-121.02729 38.48136, -121.02729 38.4...",06005,Amador,CA,7356.0,48087.0,0.152973,863.6,18292.4,...,48087.0,0.152973,863.6,18292.4,Amador,7356.0,48087.0,0.152973,863.6,18292.4
2,06007,"POLYGON ((-121.85650 39.53358, -121.85638 39.5...",06007,Butte,CA,58888.0,338729.0,0.173850,17108.3,88204.6,...,338729.0,0.173850,17108.3,88204.6,Butte,58888.0,338729.0,0.173850,17108.3,88204.6
3,06009,"POLYGON ((-120.63093 38.34110, -120.63057 38.3...",06009,Calaveras,CA,9848.0,58591.0,0.168080,1854.2,29262.6,...,58591.0,0.168080,1854.2,29262.6,Calaveras,9848.0,58591.0,0.168080,1854.2,29262.6
4,06011,"POLYGON ((-122.08018 39.41420, -122.07996 39.4...",06011,Colusa,CA,5371.0,60099.0,0.089369,2365.2,29169.2,...,60099.0,0.089369,2365.2,29169.2,Colusa,5371.0,60099.0,0.089369,2365.2,29169.2

In [204]:
import seaborn as sns
import geopandas as gpd
import matplotlib.pyplot as plt
import contextily as ctx
from geopandas_view import view
plt.rcParams['figure.figsize'] = [20,10]

In [196]:
counties.plot

<bound method GeoDataFrame.plot of     geoid                                           geometry   fips  \
0   06001  POLYGON ((-122.28088 37.70723, -122.28178 37.7...  06001
1   06005  POLYGON ((-121.02729 38.48136, -121.02729 38.4...  06005
2   06007  POLYGON ((-121.85650 39.53358, -121.85638 39.5...  06007
3   06009  POLYGON ((-120.63093 38.34110, -120.63057 38.3...  06009
4   06011  POLYGON ((-122.08018 39.41420, -122.07996 39.4...  06011
5   06013  POLYGON ((-122.26764 37.90425, -122.26781 37.9...  06013
6   06015  POLYGON ((-124.31611 41.72839, -124.33061 41.7...  06015
7   06017  POLYGON ((-121.11862 38.71712, -121.11876 38.7...  06017
8   06019  POLYGON ((-119.70536 36.99979, -119.70502 37.0...  06019
9   06021  POLYGON ((-122.89094 39.64487, -122.89134 39.6...  06021
10  06023  POLYGON ((-124.28140 40.79915, -124.28018 40.7...  06023
11  06025  POLYGON ((-115.33554 32.67611, -115.33576 32.6...  06025
12  06027  POLYGON ((-118.33758 36.65480, -118.33773 36.6...  06027
13  06029  POLYGON ((-119.91366 35.43926, -119.92327 35.4...  06029
14  06031  POLYGON ((-119.95892 36.25547, -119.95893 36.2...  06031
15  06033  POLYGON ((-123.06515 39.05918, -123.06515 39.0...  06033
16  06035  POLYGON ((-121.32191 40.65496, -121.32181 40.6...  06035
17  06037  MULTIPOLYGON (((-118.66760 33.47749, -118.6682...  06037
18  06039  POLYGON ((-120.10639 37.16715, -120.10577 37.1...  06039
19  06041  POLYGON ((-122.78639 37.88695, -122.78704 37.8...  06041
20  06043  POLYGON ((-120.32153 37.52440, -120.32156 37.5...  06043
21  06045  POLYGON ((-123.83841 39.55492, -123.83965 39.5...  06045
22  06047  POLYGON ((-120.68159 37.51863, -120.67691 37.5...  06047
23  06049  POLYGON ((-120.15941 41.99460, -120.15923 41.9...  06049
24  06051  POLYGON ((-119.30890 38.00715, -119.30886 38.0...  06051
25  06053  POLYGON ((-122.02681 36.54641, -122.02702 36.5...  06053
26  06055  POLYGON ((-122.46389 38.70520, -122.46388 38.7...  06055
27  06057  POLYGON ((-120.71374 39.48279, -120.71370 39.4...  06057
28  06059  POLYGON ((-117.98910 33.58579, -117.99067 33.5...  06059
29  06061  POLYGON ((-121.06544 39.00653, -121.06537 39.0...  06061
30  06063  POLYGON ((-121.36701 40.07767, -121.36688 40.0...  06063
31  06065  POLYGON ((-117.67284 33.86991, -117.67287 33.8...  06065
32  06067  POLYGON ((-121.18857 38.71431, -121.18731 38.7...  06067
33  06069  POLYGON ((-121.48300 36.76505, -121.48351 36.7...  06069
34  06071  POLYGON ((-117.66724 34.73433, -117.66724 34.7...  06071
35  06073  POLYGON ((-117.43743 33.17953, -117.44954 33.1...  06073
36  06075  MULTIPOLYGON (((-122.60024 37.80248, -122.6122...  06075
37  06077  POLYGON ((-121.20789 38.24882, -121.20703 38.2...  06077
38  06079  POLYGON ((-121.18506 35.79416, -121.18463 35.7...  06079
39  06081  POLYGON ((-122.58711 37.58755, -122.58679 37.5...  06081
40  06083  MULTIPOLYGON (((-120.58190 34.09856, -120.5822...  06083
41  06085  POLYGON ((-122.04412 37.20049, -122.04409 37.2...  06085
42  06087  POLYGON ((-122.21668 37.21521, -122.21651 37.2...  06087
43  06089  POLYGON ((-122.61527 40.88107, -122.61473 40.8...  06089
44  06091  POLYGON ((-120.65559 39.69356, -120.65552 39.6...  06091
45  06093  POLYGON ((-122.87087 42.00396, -122.86813 42.0...  06093
46  06095  POLYGON ((-122.06478 38.31591, -122.06508 38.3...  06095
47  06097  POLYGON ((-122.93506 38.31395, -122.93509 38.3...  06097
48  06099  POLYGON ((-120.92225 37.73748, -120.92159 37.7...  06099
50  06101  POLYGON ((-121.92833 39.19873, -121.92872 39.1...  06101
51  06103  POLYGON ((-122.37148 40.37261, -122.37046 40.3...  06103
52  06105  POLYGON ((-123.54396 40.73294, -123.54386 40.7...  06105
53  06107  POLYGON ((-118.80373 35.79035, -118.80496 35.7...  06107
54  06109  POLYGON ((-120.50016 38.00412, -120.50025 38.0...  06109
55  06111  MULTIPOLYGON (((-119.63630 33.27304, -119.6360...  06111
56  06113  POLYGON ((-122.16494 38.64246, -122.16398 38.6...  06113
57  06115  POLYGON ((-121.59768 39.12779, -121.59781 39.1...  06115

               name state  ChronicAbsenteeismCount_x  CumulativeEnrollment_x  \
0           Alameda    CA                   373198.0               2345464.0
1            Amador    CA                     7356.0                 48087.0
2             Butte    CA                    58888.0                338729.0
3         Calaveras    CA                     9848.0                 58591.0
4            Colusa    CA                     5371.0                 60099.0
5      Contra Costa    CA                   226112.0               1792240.0
6         Del Norte    CA                     9230.0                 45492.0
7         El Dorado    CA                    30818.0                269761.0
8            Fresno    CA                   296474.0               2352385.0
9             Glenn    CA                     7221.0                 66047.0
10         Humboldt    CA                    32797.0                189546.0
11         Imperial    CA                    55630.0                479905.0
12             Inyo    CA                     4622.0                 30952.0
13             Kern    CA                   254056.0               2187421.0
14            Kings    CA                    29564.0                305214.0
15             Lake    CA                    25657.0                118476.0
16           Lassen    CA                     6864.0                 40399.0
17      Los Angeles    CA                  2137114.0              15179823.0
18           Madera    CA                    47322.0                371841.0
19            Marin    CA                    32465.0                356818.0
20         Mariposa    CA                     4105.0                 21562.0
21        Mendocino    CA                    29340.0                151654.0
22           Merced    CA                    90080.0                739236.0
23            Modoc    CA                     3711.0                 17162.0
24             Mono    CA                     2062.0                 19371.0
25         Monterey    CA                   107865.0                958313.0
26             Napa    CA                    26548.0                219482.0
27           Nevada    CA                    13122.0                 79322.0
28           Orange    CA                   470658.0               5351478.0
29           Placer    CA                    51659.0                706035.0
30           Plumas    CA                     5577.0                 22763.0
31        Riverside    CA                   642050.0               4947331.0
32       Sacramento    CA                   359729.0               2585435.0
33       San Benito    CA                    15115.0                133872.0
34   San Bernardino    CA                   633064.0               4707147.0
35        San Diego    CA                   579235.0               5064892.0
36    San Francisco    CA                    93488.0                635433.0
37      San Joaquin    CA                   230791.0               1605705.0
38  San Luis Obispo    CA                    45201.0                389137.0
39        San Mateo    CA                    98969.0                972014.0
40    Santa Barbara    CA                    81171.0                799368.0
41      Santa Clara    CA                   246931.0               2651967.0
42       Santa Cruz    CA                    48412.0                414245.0
43           Shasta    CA                    37866.0                270100.0
44           Sierra    CA                      168.0                  4668.0
45         Siskiyou    CA                    11015.0                 65886.0
46           Solano    CA                   101862.0                688186.0
47           Sonoma    CA                    77385.0                583992.0
48       Stanislaus    CA                   143705.0               1243759.0
50           Sutter    CA                    27488.0                217906.0
51           Tehama    CA                    15906.0                136671.0
52          Trinity    CA                     3099.0                 18030.0
53           Tulare    CA                   106752.0               1198005.0
54         Tuolumne    CA                     9466.0                 62457.0
55          Ventura    CA                   141006.0               1530715.0
56             Yolo    CA                    41341.0                333665.0
57             Yuba    CA                    17805.0                169580.0

    absentrate_x  Dropout (Rate)_x  Regular HS Diploma Graduates (Rate)_x  \
0       0.159115           46304.3                               345454.1
1       0.152973             863.6                                18292.4
2       0.173850           17108.3                                88204.6
3       0.168080            1854.2                                29262.6
4       0.089369            2365.2                                29169.2
5       0.126162           29711.4                               235645.6
6       0.202893            2919.3                                20509.9
7       0.114242            7349.0                                58730.7
8       0.126031           53242.8                               269718.1
9       0.109331            6634.6                                28513.2
10      0.173029            7106.1                                74064.9
11      0.115919           15674.6                                68392.9
12      0.149328            8287.3                                19683.5
13      0.116144           37669.2                               206600.2
14      0.096863           11082.8                                65404.4
15      0.216559            9099.6                                40643.4
16      0.169905            2064.0                                20779.3
17      0.140786          237715.4                              1573140.9
18      0.127264           11373.4                                61728.5
19      0.090985            8800.0                                56958.2
20      0.190381             608.0                                11886.8
21      0.193467           13276.0                                56777.4
22      0.121856           15121.1                               109191.1
23      0.216234            1139.0                                 9962.2
24      0.106448           11355.2                                 6851.8
25      0.112557           17993.5                               111231.3
26      0.120958            8488.8                                41941.6
27      0.165427            9465.0                                32119.2
28      0.087949           47177.4                               455837.9
29      0.073168           16621.6                               119989.1
30      0.245003            2318.1                                14866.4
31      0.129777           58011.9                               483009.5
32      0.139137           51500.3                               318983.6
33      0.112906            6155.2                                16602.4
34      0.134490          104093.6                               436512.6
35      0.114363           88182.0                               570681.3
36      0.147125           23652.2                                92315.2
37      0.143732           46424.5                               225581.7
38      0.116157            7997.6                                89496.5
39      0.101818           18999.9                               139110.7
40      0.101544           20185.1                               100062.6
41      0.093112           58946.3                               272796.9
42      0.116868           17366.6                                84375.1
43      0.140193           12492.9                                84289.0
44      0.035990             222.0                                 5778.4
45      0.167183            3751.7                                32813.0
46      0.148015           21272.3                               112303.9
47      0.132510           33139.7                               129642.3
48      0.115541           39698.2                               164562.4
50      0.126146            9952.2                                64299.8
51      0.116382            5122.9                                34648.6
52      0.171880            2541.6                                11066.3
53      0.089108           30004.9                               167143.9
54      0.151560            3227.5                                26419.1
55      0.092118           26598.9                               161166.2
56      0.123900           13637.0                                64771.0
57      0.104995            8144.6                                41589.0

    ...  CumulativeEnrollment_x  absentrate_x  Dropout (Rate)_x  \
0   ...               2345464.0      0.159115           46304.3
1   ...                 48087.0      0.152973             863.6
2   ...                338729.0      0.173850           17108.3
3   ...                 58591.0      0.168080            1854.2
4   ...                 60099.0      0.089369            2365.2
5   ...               1792240.0      0.126162           29711.4
6   ...                 45492.0      0.202893            2919.3
7   ...                269761.0      0.114242            7349.0
8   ...               2352385.0      0.126031           53242.8
9   ...                 66047.0      0.109331            6634.6
10  ...                189546.0      0.173029            7106.1
11  ...                479905.0      0.115919           15674.6
12  ...                 30952.0      0.149328            8287.3
13  ...               2187421.0      0.116144           37669.2
14  ...                305214.0      0.096863           11082.8
15  ...                118476.0      0.216559            9099.6
16  ...                 40399.0      0.169905            2064.0
17  ...              15179823.0      0.140786          237715.4
18  ...                371841.0      0.127264           11373.4
19  ...                356818.0      0.090985            8800.0
20  ...                 21562.0      0.190381             608.0
21  ...                151654.0      0.193467           13276.0
22  ...                739236.0      0.121856           15121.1
23  ...                 17162.0      0.216234            1139.0
24  ...                 19371.0      0.106448           11355.2
25  ...                958313.0      0.112557           17993.5
26  ...                219482.0      0.120958            8488.8
27  ...                 79322.0      0.165427            9465.0
28  ...               5351478.0      0.087949           47177.4
29  ...                706035.0      0.073168           16621.6
30  ...                 22763.0      0.245003            2318.1
31  ...               4947331.0      0.129777           58011.9
32  ...               2585435.0      0.139137           51500.3
33  ...                133872.0      0.112906            6155.2
34  ...               4707147.0      0.134490          104093.6
35  ...               5064892.0      0.114363           88182.0
36  ...                635433.0      0.147125           23652.2
37  ...               1605705.0      0.143732           46424.5
38  ...                389137.0      0.116157            7997.6
39  ...                972014.0      0.101818           18999.9
40  ...                799368.0      0.101544           20185.1
41  ...               2651967.0      0.093112           58946.3
42  ...                414245.0      0.116868           17366.6
43  ...                270100.0      0.140193           12492.9
44  ...                  4668.0      0.035990             222.0
45  ...                 65886.0      0.167183            3751.7
46  ...                688186.0      0.148015           21272.3
47  ...                583992.0      0.132510           33139.7
48  ...               1243759.0      0.115541           39698.2
50  ...                217906.0      0.126146            9952.2
51  ...                136671.0      0.116382            5122.9
52  ...                 18030.0      0.171880            2541.6
53  ...               1198005.0      0.089108           30004.9
54  ...                 62457.0      0.151560            3227.5
55  ...               1530715.0      0.092118           26598.9
56  ...                333665.0      0.123900           13637.0
57  ...                169580.0      0.104995            8144.6

    Regular HS Diploma Graduates (Rate)_x       CountyName  \
0                                345454.1          Alameda
1                                 18292.4           Amador
2                                 88204.6            Butte
3                                 29262.6        Calaveras
4                                 29169.2           Colusa
5                                235645.6     Contra Costa
6                                 20509.9        Del Norte
7                                 58730.7        El Dorado
8                                269718.1           Fresno
9                                 28513.2            Glenn
10                                74064.9         Humboldt
11                                68392.9         Imperial
12                                19683.5             Inyo
13                               206600.2             Kern
14                                65404.4            Kings
15                                40643.4             Lake
16                                20779.3           Lassen
17                              1573140.9      Los Angeles
18                                61728.5           Madera
19                                56958.2            Marin
20                                11886.8         Mariposa
21                                56777.4        Mendocino
22                               109191.1           Merced
23                                 9962.2            Modoc
24                                 6851.8             Mono
25                               111231.3         Monterey
26                                41941.6             Napa
27                                32119.2           Nevada
28                               455837.9           Orange
29                               119989.1           Placer
30                                14866.4           Plumas
31                               483009.5        Riverside
32                               318983.6       Sacramento
33                                16602.4       San Benito
34                               436512.6   San Bernardino
35                               570681.3        San Diego
36                                92315.2    San Francisco
37                               225581.7      San Joaquin
38                                89496.5  San Luis Obispo
39                               139110.7        San Mateo
40                               100062.6    Santa Barbara
41                               272796.9      Santa Clara
42                                84375.1       Santa Cruz
43                                84289.0           Shasta
44                                 5778.4           Sierra
45                                32813.0         Siskiyou
46                               112303.9           Solano
47                               129642.3           Sonoma
48                               164562.4       Stanislaus
50                                64299.8           Sutter
51                                34648.6           Tehama
52                                11066.3          Trinity
53                               167143.9           Tulare
54                                26419.1         Tuolumne
55                               161166.2          Ventura
56                                64771.0             Yolo
57                                41589.0             Yuba

    ChronicAbsenteeismCount_y  CumulativeEnrollment_y  absentrate_y  \

In [209]:
import geopandas as gpd
from shapely.geometry.polygon import Polygon
from shapely.geometry.multipolygon import MultiPolygon

def explode(indata):
    indf = gpd.GeoDataFrame.from_file(indata)
    outdf = gpd.GeoDataFrame(columns=indf.columns)
    for idx, row in indf.iterrows():
        if type(row.geometry) == Polygon:
            outdf = outdf.append(row,ignore_index=True)
        if type(row.geometry) == MultiPolygon:
            multdf = gpd.GeoDataFrame(columns=indf.columns)
            recs = len(row.geometry)
            multdf = multdf.append([row]*recs,ignore_index=True)
            for geom in range(recs):
                multdf.loc[geom,'geometry'] = row.geometry[geom]
            outdf = outdf.append(multdf,ignore_index=True)
    return outdf

In [210]:
counties.plot

<bound method GeoDataFrame.plot of     geoid                                           geometry   fips  \
0   06001  POLYGON ((-122.28088 37.70723, -122.28178 37.7...  06001
1   06005  POLYGON ((-121.02729 38.48136, -121.02729 38.4...  06005
2   06007  POLYGON ((-121.85650 39.53358, -121.85638 39.5...  06007
3   06009  POLYGON ((-120.63093 38.34110, -120.63057 38.3...  06009
4   06011  POLYGON ((-122.08018 39.41420, -122.07996 39.4...  06011
5   06013  POLYGON ((-122.26764 37.90425, -122.26781 37.9...  06013
6   06015  POLYGON ((-124.31611 41.72839, -124.33061 41.7...  06015
7   06017  POLYGON ((-121.11862 38.71712, -121.11876 38.7...  06017
8   06019  POLYGON ((-119.70536 36.99979, -119.70502 37.0...  06019
9   06021  POLYGON ((-122.89094 39.64487, -122.89134 39.6...  06021
10  06023  POLYGON ((-124.28140 40.79915, -124.28018 40.7...  06023
11  06025  POLYGON ((-115.33554 32.67611, -115.33576 32.6...  06025
12  06027  POLYGON ((-118.33758 36.65480, -118.33773 36.6...  06027
13  06029  POLYGON ((-119.91366 35.43926, -119.92327 35.4...  06029
14  06031  POLYGON ((-119.95892 36.25547, -119.95893 36.2...  06031
15  06033  POLYGON ((-123.06515 39.05918, -123.06515 39.0...  06033
16  06035  POLYGON ((-121.32191 40.65496, -121.32181 40.6...  06035
17  06037  MULTIPOLYGON (((-118.66760 33.47749, -118.6682...  06037
18  06039  POLYGON ((-120.10639 37.16715, -120.10577 37.1...  06039
19  06041  POLYGON ((-122.78639 37.88695, -122.78704 37.8...  06041
20  06043  POLYGON ((-120.32153 37.52440, -120.32156 37.5...  06043
21  06045  POLYGON ((-123.83841 39.55492, -123.83965 39.5...  06045
22  06047  POLYGON ((-120.68159 37.51863, -120.67691 37.5...  06047
23  06049  POLYGON ((-120.15941 41.99460, -120.15923 41.9...  06049
24  06051  POLYGON ((-119.30890 38.00715, -119.30886 38.0...  06051
25  06053  POLYGON ((-122.02681 36.54641, -122.02702 36.5...  06053
26  06055  POLYGON ((-122.46389 38.70520, -122.46388 38.7...  06055
27  06057  POLYGON ((-120.71374 39.48279, -120.71370 39.4...  06057
28  06059  POLYGON ((-117.98910 33.58579, -117.99067 33.5...  06059
29  06061  POLYGON ((-121.06544 39.00653, -121.06537 39.0...  06061
30  06063  POLYGON ((-121.36701 40.07767, -121.36688 40.0...  06063
31  06065  POLYGON ((-117.67284 33.86991, -117.67287 33.8...  06065
32  06067  POLYGON ((-121.18857 38.71431, -121.18731 38.7...  06067
33  06069  POLYGON ((-121.48300 36.76505, -121.48351 36.7...  06069
34  06071  POLYGON ((-117.66724 34.73433, -117.66724 34.7...  06071
35  06073  POLYGON ((-117.43743 33.17953, -117.44954 33.1...  06073
36  06075  MULTIPOLYGON (((-122.60024 37.80248, -122.6122...  06075
37  06077  POLYGON ((-121.20789 38.24882, -121.20703 38.2...  06077
38  06079  POLYGON ((-121.18506 35.79416, -121.18463 35.7...  06079
39  06081  POLYGON ((-122.58711 37.58755, -122.58679 37.5...  06081
40  06083  MULTIPOLYGON (((-120.58190 34.09856, -120.5822...  06083
41  06085  POLYGON ((-122.04412 37.20049, -122.04409 37.2...  06085
42  06087  POLYGON ((-122.21668 37.21521, -122.21651 37.2...  06087
43  06089  POLYGON ((-122.61527 40.88107, -122.61473 40.8...  06089
44  06091  POLYGON ((-120.65559 39.69356, -120.65552 39.6...  06091
45  06093  POLYGON ((-122.87087 42.00396, -122.86813 42.0...  06093
46  06095  POLYGON ((-122.06478 38.31591, -122.06508 38.3...  06095
47  06097  POLYGON ((-122.93506 38.31395, -122.93509 38.3...  06097
48  06099  POLYGON ((-120.92225 37.73748, -120.92159 37.7...  06099
50  06101  POLYGON ((-121.92833 39.19873, -121.92872 39.1...  06101
51  06103  POLYGON ((-122.37148 40.37261, -122.37046 40.3...  06103
52  06105  POLYGON ((-123.54396 40.73294, -123.54386 40.7...  06105
53  06107  POLYGON ((-118.80373 35.79035, -118.80496 35.7...  06107
54  06109  POLYGON ((-120.50016 38.00412, -120.50025 38.0...  06109
55  06111  MULTIPOLYGON (((-119.63630 33.27304, -119.6360...  06111
56  06113  POLYGON ((-122.16494 38.64246, -122.16398 38.6...  06113
57  06115  POLYGON ((-121.59768 39.12779, -121.59781 39.1...  06115

               name state  ChronicAbsenteeismCount_x  CumulativeEnrollment_x  \
0           Alameda    CA                   373198.0               2345464.0
1            Amador    CA                     7356.0                 48087.0
2             Butte    CA                    58888.0                338729.0
3         Calaveras    CA                     9848.0                 58591.0
4            Colusa    CA                     5371.0                 60099.0
5      Contra Costa    CA                   226112.0               1792240.0
6         Del Norte    CA                     9230.0                 45492.0
7         El Dorado    CA                    30818.0                269761.0
8            Fresno    CA                   296474.0               2352385.0
9             Glenn    CA                     7221.0                 66047.0
10         Humboldt    CA                    32797.0                189546.0
11         Imperial    CA                    55630.0                479905.0
12             Inyo    CA                     4622.0                 30952.0
13             Kern    CA                   254056.0               2187421.0
14            Kings    CA                    29564.0                305214.0
15             Lake    CA                    25657.0                118476.0
16           Lassen    CA                     6864.0                 40399.0
17      Los Angeles    CA                  2137114.0              15179823.0
18           Madera    CA                    47322.0                371841.0
19            Marin    CA                    32465.0                356818.0
20         Mariposa    CA                     4105.0                 21562.0
21        Mendocino    CA                    29340.0                151654.0
22           Merced    CA                    90080.0                739236.0
23            Modoc    CA                     3711.0                 17162.0
24             Mono    CA                     2062.0                 19371.0
25         Monterey    CA                   107865.0                958313.0
26             Napa    CA                    26548.0                219482.0
27           Nevada    CA                    13122.0                 79322.0
28           Orange    CA                   470658.0               5351478.0
29           Placer    CA                    51659.0                706035.0
30           Plumas    CA                     5577.0                 22763.0
31        Riverside    CA                   642050.0               4947331.0
32       Sacramento    CA                   359729.0               2585435.0
33       San Benito    CA                    15115.0                133872.0
34   San Bernardino    CA                   633064.0               4707147.0
35        San Diego    CA                   579235.0               5064892.0
36    San Francisco    CA                    93488.0                635433.0
37      San Joaquin    CA                   230791.0               1605705.0
38  San Luis Obispo    CA                    45201.0                389137.0
39        San Mateo    CA                    98969.0                972014.0
40    Santa Barbara    CA                    81171.0                799368.0
41      Santa Clara    CA                   246931.0               2651967.0
42       Santa Cruz    CA                    48412.0                414245.0
43           Shasta    CA                    37866.0                270100.0
44           Sierra    CA                      168.0                  4668.0
45         Siskiyou    CA                    11015.0                 65886.0
46           Solano    CA                   101862.0                688186.0
47           Sonoma    CA                    77385.0                583992.0
48       Stanislaus    CA                   143705.0               1243759.0
50           Sutter    CA                    27488.0                217906.0
51           Tehama    CA                    15906.0                136671.0
52          Trinity    CA                     3099.0                 18030.0
53           Tulare    CA                   106752.0               1198005.0
54         Tuolumne    CA                     9466.0                 62457.0
55          Ventura    CA                   141006.0               1530715.0
56             Yolo    CA                    41341.0                333665.0
57             Yuba    CA                    17805.0                169580.0

    absentrate_x  Dropout (Rate)_x  Regular HS Diploma Graduates (Rate)_x  \
0       0.159115           46304.3                               345454.1
1       0.152973             863.6                                18292.4
2       0.173850           17108.3                                88204.6
3       0.168080            1854.2                                29262.6
4       0.089369            2365.2                                29169.2
5       0.126162           29711.4                               235645.6
6       0.202893            2919.3                                20509.9
7       0.114242            7349.0                                58730.7
8       0.126031           53242.8                               269718.1
9       0.109331            6634.6                                28513.2
10      0.173029            7106.1                                74064.9
11      0.115919           15674.6                                68392.9
12      0.149328            8287.3                                19683.5
13      0.116144           37669.2                               206600.2
14      0.096863           11082.8                                65404.4
15      0.216559            9099.6                                40643.4
16      0.169905            2064.0                                20779.3
17      0.140786          237715.4                              1573140.9
18      0.127264           11373.4                                61728.5
19      0.090985            8800.0                                56958.2
20      0.190381             608.0                                11886.8
21      0.193467           13276.0                                56777.4
22      0.121856           15121.1                               109191.1
23      0.216234            1139.0                                 9962.2
24      0.106448           11355.2                                 6851.8
25      0.112557           17993.5                               111231.3
26      0.120958            8488.8                                41941.6
27      0.165427            9465.0                                32119.2
28      0.087949           47177.4                               455837.9
29      0.073168           16621.6                               119989.1
30      0.245003            2318.1                                14866.4
31      0.129777           58011.9                               483009.5
32      0.139137           51500.3                               318983.6
33      0.112906            6155.2                                16602.4
34      0.134490          104093.6                               436512.6
35      0.114363           88182.0                               570681.3
36      0.147125           23652.2                                92315.2
37      0.143732           46424.5                               225581.7
38      0.116157            7997.6                                89496.5
39      0.101818           18999.9                               139110.7
40      0.101544           20185.1                               100062.6
41      0.093112           58946.3                               272796.9
42      0.116868           17366.6                                84375.1
43      0.140193           12492.9                                84289.0
44      0.035990             222.0                                 5778.4
45      0.167183            3751.7                                32813.0
46      0.148015           21272.3                               112303.9
47      0.132510           33139.7                               129642.3
48      0.115541           39698.2                               164562.4
50      0.126146            9952.2                                64299.8
51      0.116382            5122.9                                34648.6
52      0.171880            2541.6                                11066.3
53      0.089108           30004.9                               167143.9
54      0.151560            3227.5                                26419.1
55      0.092118           26598.9                               161166.2
56      0.123900           13637.0                                64771.0
57      0.104995            8144.6                                41589.0

    ...  CumulativeEnrollment_x  absentrate_x  Dropout (Rate)_x  \
0   ...               2345464.0      0.159115           46304.3
1   ...                 48087.0      0.152973             863.6
2   ...                338729.0      0.173850           17108.3
3   ...                 58591.0      0.168080            1854.2
4   ...                 60099.0      0.089369            2365.2
5   ...               1792240.0      0.126162           29711.4
6   ...                 45492.0      0.202893            2919.3
7   ...                269761.0      0.114242            7349.0
8   ...               2352385.0      0.126031           53242.8
9   ...                 66047.0      0.109331            6634.6
10  ...                189546.0      0.173029            7106.1
11  ...                479905.0      0.115919           15674.6
12  ...                 30952.0      0.149328            8287.3
13  ...               2187421.0      0.116144           37669.2
14  ...                305214.0      0.096863           11082.8
15  ...                118476.0      0.216559            9099.6
16  ...                 40399.0      0.169905            2064.0
17  ...              15179823.0      0.140786          237715.4
18  ...                371841.0      0.127264           11373.4
19  ...                356818.0      0.090985            8800.0
20  ...                 21562.0      0.190381             608.0
21  ...                151654.0      0.193467           13276.0
22  ...                739236.0      0.121856           15121.1
23  ...                 17162.0      0.216234            1139.0
24  ...                 19371.0      0.106448           11355.2
25  ...                958313.0      0.112557           17993.5
26  ...                219482.0      0.120958            8488.8
27  ...                 79322.0      0.165427            9465.0
28  ...               5351478.0      0.087949           47177.4
29  ...                706035.0      0.073168           16621.6
30  ...                 22763.0      0.245003            2318.1
31  ...               4947331.0      0.129777           58011.9
32  ...               2585435.0      0.139137           51500.3
33  ...                133872.0      0.112906            6155.2
34  ...               4707147.0      0.134490          104093.6
35  ...               5064892.0      0.114363           88182.0
36  ...                635433.0      0.147125           23652.2
37  ...               1605705.0      0.143732           46424.5
38  ...                389137.0      0.116157            7997.6
39  ...                972014.0      0.101818           18999.9
40  ...                799368.0      0.101544           20185.1
41  ...               2651967.0      0.093112           58946.3
42  ...                414245.0      0.116868           17366.6
43  ...                270100.0      0.140193           12492.9
44  ...                  4668.0      0.035990             222.0
45  ...                 65886.0      0.167183            3751.7
46  ...                688186.0      0.148015           21272.3
47  ...                583992.0      0.132510           33139.7
48  ...               1243759.0      0.115541           39698.2
50  ...                217906.0      0.126146            9952.2
51  ...                136671.0      0.116382            5122.9
52  ...                 18030.0      0.171880            2541.6
53  ...               1198005.0      0.089108           30004.9
54  ...                 62457.0      0.151560            3227.5
55  ...               1530715.0      0.092118           26598.9
56  ...                333665.0      0.123900           13637.0
57  ...                169580.0      0.104995            8144.6

    Regular HS Diploma Graduates (Rate)_x       CountyName  \
0                                345454.1          Alameda
1                                 18292.4           Amador
2                                 88204.6            Butte
3                                 29262.6        Calaveras
4                                 29169.2           Colusa
5                                235645.6     Contra Costa
6                                 20509.9        Del Norte
7                                 58730.7        El Dorado
8                                269718.1           Fresno
9                                 28513.2            Glenn
10                                74064.9         Humboldt
11                                68392.9         Imperial
12                                19683.5             Inyo
13                               206600.2             Kern
14                                65404.4            Kings
15                                40643.4             Lake
16                                20779.3           Lassen
17                              1573140.9      Los Angeles
18                                61728.5           Madera
19                                56958.2            Marin
20                                11886.8         Mariposa
21                                56777.4        Mendocino
22                               109191.1           Merced
23                                 9962.2            Modoc
24                                 6851.8             Mono
25                               111231.3         Monterey
26                                41941.6             Napa
27                                32119.2           Nevada
28                               455837.9           Orange
29                               119989.1           Placer
30                                14866.4           Plumas
31                               483009.5        Riverside
32                               318983.6       Sacramento
33                                16602.4       San Benito
34                               436512.6   San Bernardino
35                               570681.3        San Diego
36                                92315.2    San Francisco
37                               225581.7      San Joaquin
38                                89496.5  San Luis Obispo
39                               139110.7        San Mateo
40                               100062.6    Santa Barbara
41                               272796.9      Santa Clara
42                                84375.1       Santa Cruz
43                                84289.0           Shasta
44                                 5778.4           Sierra
45                                32813.0         Siskiyou
46                               112303.9           Solano
47                               129642.3           Sonoma
48                               164562.4       Stanislaus
50                                64299.8           Sutter
51                                34648.6           Tehama
52                                11066.3          Trinity
53                               167143.9           Tulare
54                                26419.1         Tuolumne
55                               161166.2          Ventura
56                                64771.0             Yolo
57                                41589.0             Yuba

    ChronicAbsenteeismCount_y  CumulativeEnrollment_y  absentrate_y  \

In [207]:
if poly.geometry.type == 'Polygon':
    x, y = poly.geometry.exterior.xy
elif poly.geometry.type == 'MultiPolygon':
    allparts = [p.buffer(0) for p in poly.geometry]
    poly.geometry = shapely.ops.cascaded_union(allparts)
    x, y = poly.geometry.exterior.xy  # here happens the error

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().