In [53]:
import pandas

In [54]:
import pandas as pd

In [55]:
import seaborn as sns
import geopandas as gpd
import matplotlib.pyplot as plt
import contextily as ctx
from geopandas_view import view
plt.rcParams['figure.figsize'] = [20,10]

In [56]:
attendance_CAcounties = pandas.read_csv('attendance_rates.csv')

In [57]:
attendance_CAcounties.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
0,0,0,0,0,0,0,0,0,0,0,...,NaN,Alameda,NaN,NaN,All,GF,114224,112861,16501,14.6
1,1,1,1,1,1,1,1,1,1,1,...,NaN,Alameda,NaN,NaN,No,GF,102681,101285,15082,14.9
2,2,2,2,2,2,2,2,2,2,2,...,NaN,Alameda,NaN,NaN,Yes,GF,12096,11850,1530,12.9
3,3,3,3,3,3,3,3,3,3,3,...,NaN,Alameda,NaN,NaN,All,GM,121852,120048,18167,15.1
4,4,4,4,4,4,4,4,4,4,4,...,NaN,Alameda,NaN,NaN,No,GM,110192,108370,16793,15.5

In [58]:
type(attendance_CAcounties)

pandas.core.frame.DataFrame

In [59]:
df=attendance_CAcounties
df[df.CharterYN=='No ']

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
1,1,1,1,1,1,1,1,1,1,1,...,NaN,Alameda,NaN,NaN,No,GF,102681,101285,15082,14.9
4,4,4,4,4,4,4,4,4,4,4,...,NaN,Alameda,NaN,NaN,No,GM,110192,108370,16793,15.5
7,7,7,7,7,7,7,7,7,7,7,...,NaN,Alameda,NaN,NaN,No,GR13,49690,49062,6234,12.7
10,10,10,10,10,10,10,10,10,10,10,...,NaN,Alameda,NaN,NaN,No,GR46,47912,47404,5528,11.7
13,13,13,13,13,13,13,13,13,13,13,...,NaN,Alameda,NaN,NaN,No,GR78,31433,31041,3880,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239796,239796,239796,239796,239796,239796,239796,239796,239796,239796,239796,...,NaN,State,NaN,NaN,No,SF,44010,42225,11486,27.2
239799,239799,239799,239799,239799,239799,239799,239799,239799,239799,239799,...,NaN,State,NaN,NaN,No,SH,252164,249918,61465,24.6
239802,239802,239802,239802,239802,239802,239802,239802,239802,239802,239802,...,NaN,State,NaN,NaN,No,SM,53580,53309,4775,9.0
239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,...,NaN,State,NaN,NaN,No,SS,3554982,3524760,536247,15.2
239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,...,NaN,State,NaN,NaN,No,TA,5678140,5611163,676060,12.0

In [60]:
df.CharterYN.unique()

array(['All', 'No ', 'Yes'], dtype=object)

In [61]:
attendance_CAcounties[attendance_CAcounties.CharterYN=='No ']

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
1,1,1,1,1,1,1,1,1,1,1,...,NaN,Alameda,NaN,NaN,No,GF,102681,101285,15082,14.9
4,4,4,4,4,4,4,4,4,4,4,...,NaN,Alameda,NaN,NaN,No,GM,110192,108370,16793,15.5
7,7,7,7,7,7,7,7,7,7,7,...,NaN,Alameda,NaN,NaN,No,GR13,49690,49062,6234,12.7
10,10,10,10,10,10,10,10,10,10,10,...,NaN,Alameda,NaN,NaN,No,GR46,47912,47404,5528,11.7
13,13,13,13,13,13,13,13,13,13,13,...,NaN,Alameda,NaN,NaN,No,GR78,31433,31041,3880,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239796,239796,239796,239796,239796,239796,239796,239796,239796,239796,239796,...,NaN,State,NaN,NaN,No,SF,44010,42225,11486,27.2
239799,239799,239799,239799,239799,239799,239799,239799,239799,239799,239799,...,NaN,State,NaN,NaN,No,SH,252164,249918,61465,24.6
239802,239802,239802,239802,239802,239802,239802,239802,239802,239802,239802,...,NaN,State,NaN,NaN,No,SM,53580,53309,4775,9.0
239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,...,NaN,State,NaN,NaN,No,SS,3554982,3524760,536247,15.2
239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,...,NaN,State,NaN,NaN,No,TA,5678140,5611163,676060,12.0

In [62]:
attendance_CAcounties=attendance_CAcounties[attendance_CAcounties.CharterYN=='No ']

In [63]:
attendance_CAcounties.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'Unnamed: 0.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1.1', 'AcademicYear', 'AggregateLevel',
       'CountyCode', 'DistrictCode', 'SchoolCode', 'CountyName',
       'DistrictName', 'SchoolName', 'CharterYN', 'ReportingCategory',
       'CumulativeEnrollment',
       'ChronicAbsenteeismEligibleCumulativeEnrollment',
       'ChronicAbsenteeismCount', 'ChronicAbsenteeismRate'],
      dtype='object')

In [64]:
attendance_CAcounties.groupby(by='CountyName').sum()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1.1,CountyCode,DistrictCode,SchoolCode
CountyName,,,,,,,,,,,,,,,,
Alameda,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,2110074,491,27287027.0,0.0
Alpine,82784,82784,82784,82784,82784,82784,82784,82784,82784,82784,82784,82784,82784,64,981328.0,0.0
Amador,224686,224686,224686,224686,224686,224686,224686,224686,224686,224686,224686,224686,224686,198,1902223.0,0.0
Butte,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1717839,1324,18341651.0,0.0
Calaveras,605332,605332,605332,605332,605332,605332,605332,605332,605332,605332,605332,605332,605332,610,5219602.0,0.0
Colusa,690358,690358,690358,690358,690358,690358,690358,690358,690358,690358,690358,690358,690358,798,5942322.0,0.0
Contra Costa,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2644966,2870,22641001.0,0.0
Del Norte,304730,304730,304730,304730,304730,304730,304730,304730,304730,304730,304730,304730,304730,504,1593254.0,0.0
El Dorado,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,2485791,3060,18798633.0,0.0
Fresno,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,5690815,6570,40737683.0,0.0
Glenn,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,1732172,2167,10557003.0,0.0
Humboldt,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,6227928,7212,36298106.0,0.0
Imperial,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4060708,4771,20441826.0,0.0
Inyo,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,1616618,2128,7724397.0,0.0
Kern,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,12473247,14265,58650182.0,0.0
Kings,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,3450617,4096,13912396.0,0.0
Lake,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,2414274,3060,9250575.0,0.0
Lassen,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,3214656,4086,12366110.0,0.0
Los Angeles,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,32553267,34808,118015500.0,0.0
Madera,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4247045,4580,12916519.0,0.0
Marin,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,7776668,8169,22979506.0,0.0
Mariposa,899054,899054,899054,899054,899054,899054,899054,899054,899054,899054,899054,899054,899054,1364,1625718.0,0.0
Mendocino,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,5720754,6486,16329231.0,0.0
Merced,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,10101742,11160,28458664.0,0.0
Modoc,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,1906824,2600,4719916.0,0.0
Mono,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1282535,1950,3207464.0,0.0
Monterey,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,12323927,14391,33084174.0,0.0
Napa,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,3095301,4116,7031087.0,0.0
Nevada,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,4758141,6090,11508223.0,0.0
Orange,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,16544369,19620,41297878.0,0.0
Placer,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,9239761,11160,21467150.0,0.0
Plumas,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1159526,1984,1659114.0,0.0
Riverside,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,16038571,19239,36374446.0,0.0
Sacramento,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,9978488,12138,21139741.0,0.0
San Benito,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,6363733,8085,13124432.0,0.0
San Bernardino,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,23468642,27540,50018597.0,0.0
San Diego,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,31046957,34965,62339089.0,0.0
San Francisco,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,1750464,2736,1892808.0,0.0
San Joaquin,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,11992093,13923,21855387.0,0.0
San Luis Obispo,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,8869610,10600,15651772.0,0.0
San Mateo,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,18897254,21648,33411339.0,0.0
Santa Barbara,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,15862174,18270,27490657.0,0.0
Santa Clara,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,27672870,30745,46778878.0,0.0
Santa Cruz,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,10250942,11968,16132980.0,0.0
Shasta,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,20706307,23220,33494253.0,0.0
Sierra,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,1004520,2024,1543894.0,0.0
Siskiyou,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,19716046,22560,31028025.0,0.0
Solano,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,7246113,9024,10189114.0,0.0
Sonoma,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,34982824,39200,53857713.0,0.0
Stanislaus,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,23644039,26400,35057872.0,0.0
State,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,5754564,0,0.0,0.0
Sutter,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,12011449,13974,16452063.0,0.0
Tehama,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,14167904,16380,19542565.0,0.0
Trinity,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,7996950,9752,11156628.0,0.0
Tulare,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,40604927,45090,57528584.0,0.0
Tuolumne,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,12404678,14520,16326902.0,0.0
Ventura,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,21723520,24696,29069161.0,0.0
Yolo,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,7340310,9234,8665250.0,0.0
Yuba,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,6703966,8642,7725709.0,0.0

In [65]:
attendance_CAcounties.dtypes

Unnamed: 0                                          int64
Unnamed: 0.1                                        int64
Unnamed: 0.1.1                                      int64
Unnamed: 0.1.1.1                                    int64
Unnamed: 0.1.1.1.1                                  int64
Unnamed: 0.1.1.1.1.1                                int64
Unnamed: 0.1.1.1.1.1.1                              int64
Unnamed: 0.1.1.1.1.1.1.1                            int64
Unnamed: 0.1.1.1.1.1.1.1.1                          int64
Unnamed: 0.1.1.1.1.1.1.1.1.1                        int64
Unnamed: 0.1.1.1.1.1.1.1.1.1.1                      int64
Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1                    int64
Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1.1                  int64
AcademicYear                                       object
AggregateLevel                                     object
CountyCode                                          int64
DistrictCode                                      float64
SchoolCode                                        float64
CountyName                                         object
DistrictName                                       object
SchoolName                                         object
CharterYN                                          object
ReportingCategory                                  object
CumulativeEnrollment                               object
ChronicAbsenteeismEligibleCumulativeEnrollment     object
ChronicAbsenteeismCount                            object
ChronicAbsenteeismRate                             object
dtype: object

In [66]:
car=attendance_CAcounties.ChronicAbsenteeismRate

In [67]:
(car=="*").sum()

3381

In [68]:
df.CumulativeEnrollment.unique()

array(['114224', '102681', '12096', ..., '6329883', '5678140', '758633'],
      dtype=object)

In [69]:
import numpy as np

In [70]:
df.replace("*",np.nan)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
0,0,0,0,0,0,0,0,0,0,0,...,NaN,Alameda,NaN,NaN,All,GF,114224,112861,16501,14.6
1,1,1,1,1,1,1,1,1,1,1,...,NaN,Alameda,NaN,NaN,No,GF,102681,101285,15082,14.9
2,2,2,2,2,2,2,2,2,2,2,...,NaN,Alameda,NaN,NaN,Yes,GF,12096,11850,1530,12.9
3,3,3,3,3,3,3,3,3,3,3,...,NaN,Alameda,NaN,NaN,All,GM,121852,120048,18167,15.1
4,4,4,4,4,4,4,4,4,4,4,...,NaN,Alameda,NaN,NaN,No,GM,110192,108370,16793,15.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,239805,...,NaN,State,NaN,NaN,No,SS,3554982,3524760,536247,15.2
239806,239806,239806,239806,239806,239806,239806,239806,239806,239806,239806,...,NaN,State,NaN,NaN,Yes,SS,461441,439477,76914,17.5
239807,239807,239807,239807,239807,239807,239807,239807,239807,239807,239807,...,NaN,State,NaN,NaN,All,TA,6329883,6258845,755950,12.1
239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,239808,...,NaN,State,NaN,NaN,No,TA,5678140,5611163,676060,12.0
239809,239809,239809,239809,239809,239809,239809,239809,239809,239809,239809,...,NaN,State,NaN,NaN,Yes,TA,758633,706658,99129,14.0

In [71]:
attendance_CAcounties=attendance_CAcounties.replace("*",np.nan)

In [72]:
attendance_CAcounties.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'Unnamed: 0.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1.1', 'AcademicYear', 'AggregateLevel',
       'CountyCode', 'DistrictCode', 'SchoolCode', 'CountyName',
       'DistrictName', 'SchoolName', 'CharterYN', 'ReportingCategory',
       'CumulativeEnrollment',
       'ChronicAbsenteeismEligibleCumulativeEnrollment',
       'ChronicAbsenteeismCount', 'ChronicAbsenteeismRate'],
      dtype='object')

In [73]:
attendance_CAcounties.ChronicAbsenteeismCount=attendance_CAcounties.ChronicAbsenteeismCount.astype(float)

In [74]:
df.CumulativeEnrollment.dtype

dtype('O')

In [75]:
attendance_CAcounties.CumulativeEnrollment=attendance_CAcounties.CumulativeEnrollment.astype(float)

In [76]:
attendance_CAcounties.CumulativeEnrollment.head()

1     102681.0
4     110192.0
7      49690.0
10     47912.0
13     31433.0
Name: CumulativeEnrollment, dtype: float64

In [77]:
attendance_CAcounties.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21709 entries, 1 to 239808
Data columns (total 27 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      21709 non-null  int64
 1   Unnamed: 0.1                                    21709 non-null  int64
 2   Unnamed: 0.1.1                                  21709 non-null  int64
 3   Unnamed: 0.1.1.1                                21709 non-null  int64
 4   Unnamed: 0.1.1.1.1                              21709 non-null  int64
 5   Unnamed: 0.1.1.1.1.1                            21709 non-null  int64
 6   Unnamed: 0.1.1.1.1.1.1                          21709 non-null  int64
 7   Unnamed: 0.1.1.1.1.1.1.1                        21709 non-null  int64
 8   Unnamed: 0.1.1.1.1.1.1.1.1                      21709 non-null  int64
 9   Unnamed: 0.1.1.1.1.1.1.1.1.1                    21709 non-null  int64
 10  Unnamed: 0.1.1.1.1.1.1.1.1.1.1                  21709 non-null  int64
 11  Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1                21709 non-null  int64
 12  Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1.1              21709 non-null  int64
 13  AcademicYear                                    21709 non-null  object
 14  AggregateLevel                                  21709 non-null  object
 15  CountyCode                                      21709 non-null  int64
 16  DistrictCode                                    20320 non-null  float64
 17  SchoolCode                                      20320 non-null  float64
 18  CountyName                                      21709 non-null  object
 19  DistrictName                                    20320 non-null  object
 20  SchoolName                                      20320 non-null  object
 21  CharterYN                                       21709 non-null  object
 22  ReportingCategory                               21709 non-null  object
 23  CumulativeEnrollment                            18328 non-null  float64
 24  ChronicAbsenteeismEligibleCumulativeEnrollment  18328 non-null  object
 25  ChronicAbsenteeismCount                         18328 non-null  float64
 26  ChronicAbsenteeismRate                          18328 non-null  object
dtypes: float64(4), int64(14), object(9)
memory usage: 4.6+ MB

In [78]:
attendance_CAcounties[["CumulativeEnrollment","CountyName"]]

        CumulativeEnrollment CountyName
1                   102681.0    Alameda
4                   110192.0    Alameda
7                    49690.0    Alameda
10                   47912.0    Alameda
13                   31433.0    Alameda
...                      ...        ...
239796               44010.0      State
239799              252164.0      State
239802               53580.0      State
239805             3554982.0      State
239808             5678140.0      State

[21709 rows x 2 columns]

In [79]:
attendance_CAcounties[["CumulativeEnrollment","CountyName"]].groupby("CountyName").sum()

                 CumulativeEnrollment
CountyName
Alameda                     2345464.0
Alpine                          986.0
Amador                        48087.0
Butte                        338729.0
Calaveras                     58591.0
Colusa                        60099.0
Contra Costa                1792240.0
Del Norte                     45492.0
El Dorado                    269761.0
Fresno                      2352385.0
Glenn                         66047.0
Humboldt                     189546.0
Imperial                     479905.0
Inyo                          30952.0
Kern                        2187421.0
Kings                        305214.0
Lake                         118476.0
Lassen                        40399.0
Los Angeles                15179823.0
Madera                       371841.0
Marin                        356818.0
Mariposa                      21562.0
Mendocino                    151654.0
Merced                       739236.0
Modoc                         17162.0
Mono                          19371.0
Monterey                     958313.0
Napa                         219482.0
Nevada                        79322.0
Orange                      5351478.0
Placer                       706035.0
Plumas                        22763.0
Riverside                   4947331.0
Sacramento                  2585435.0
San Benito                   133872.0
San Bernardino              4707147.0
San Diego                   5064892.0
San Francisco                635433.0
San Joaquin                 1605705.0
San Luis Obispo              389137.0
San Mateo                    972014.0
Santa Barbara                799368.0
Santa Clara                 2651967.0
Santa Cruz                   414245.0
Shasta                       270100.0
Sierra                         4668.0
Siskiyou                      65886.0
Solano                       688186.0
Sonoma                       583992.0
Stanislaus                  1243759.0
State                      32440356.0
Sutter                       217906.0
Tehama                       136671.0
Trinity                       18030.0
Tulare                      1198005.0
Tuolumne                      62457.0
Ventura                     1530715.0
Yolo                         333665.0
Yuba                         169580.0

In [80]:
CAcounty_summary=attendance_CAcounties[["ChronicAbsenteeismCount","CumulativeEnrollment","CountyName"]].groupby("CountyName").sum()

In [81]:
CAcounty_summary.head()

            ChronicAbsenteeismCount  CumulativeEnrollment
CountyName
Alameda                    373198.0             2345464.0
Alpine                        194.0                 986.0
Amador                       7356.0               48087.0
Butte                       58888.0              338729.0
Calaveras                    9848.0               58591.0

In [82]:
CAcounty_summary["absentrate"]=CAcounty_summary.ChronicAbsenteeismCount/CAcounty_summary.CumulativeEnrollment

In [83]:
CAcounty_summary.head()

            ChronicAbsenteeismCount  CumulativeEnrollment  absentrate
CountyName
Alameda                    373198.0             2345464.0    0.159115
Alpine                        194.0                 986.0    0.196755
Amador                       7356.0               48087.0    0.152973
Butte                       58888.0              338729.0    0.173850
Calaveras                    9848.0               58591.0    0.168080

In [84]:
CAcounties_absentrate = CAcounty_summary

In [85]:
CAcounties_absentrate.head()

            ChronicAbsenteeismCount  CumulativeEnrollment  absentrate
CountyName
Alameda                    373198.0             2345464.0    0.159115
Alpine                        194.0                 986.0    0.196755
Amador                       7356.0               48087.0    0.152973
Butte                       58888.0              338729.0    0.173850
Calaveras                    9848.0               58591.0    0.168080

1. here read in grad CSV file and run code at county level. 
2. do a table join to both df's
3. join/merge to the geosnap df to add the polygons
4. do visuals 
5. we got this!

In [86]:
grad_counties=pd.read_csv("graduation_rates.csv")

In [87]:
grad_counties.head()

,Unnamed: 0,Unnamed: 0.1,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,0,0,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,65,0.8,2,0.0,24,0.3,440,5.2,228,2.7
1,1,1,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,123,1.3,1,0.0,54,0.6,823,9.0,417,4.6
2,2,2,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,24,0.6,0,0.0,11,0.3,112,2.6,41,1.0
3,3,3,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,39,2.2,0,0.0,10,0.6,167,9.2,148,8.2
4,4,4,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,3,3.3,0,0.0,4,4.3,15,16.3,7,7.6

In [97]:
grad_counties.CountyName.unique()

array(['Alameda', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange',
       'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin',
       'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara',
       'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma',
       'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne',
       'Ventura', 'Yolo', 'Yuba', 'State'], dtype=object)

In [88]:
grad_counties.shape

(254430, 36)

In [89]:
grad_counties.dtypes

Unnamed: 0                                   int64
Unnamed: 0.1                                 int64
AcademicYear                                object
AggregateLevel                              object
CountyCode                                   int64
DistrictCode                               float64
SchoolCode                                 float64
CountyName                                  object
DistrictName                                object
SchoolName                                  object
CharterSchool                               object
DASS                                        object
ReportingCategory                           object
CohortStudents                              object
Regular HS Diploma Graduates (Count)        object
Regular HS Diploma Graduates (Rate)         object
Met UC/CSU Grad Req's (Count)               object
Met UC/CSU Grad Req's (Rate)                object
Seal of Biliteracy (Count)                  object
Seal of Biliteracy (Rate)                   object
Golden State Seal Merit Diploma (Count)     object
Golden State Seal Merit Diploma (Rate       object
CHSPE Completer (Count)                     object
CHSPE Completer (Rate)                      object
Adult Ed. HS Diploma (Count)                object
Adult Ed. HS Diploma (Rate)                 object
SPED Certificate (Count)                    object
SPED Certificate (Rate)                     object
GED Completer (Count)                       object
GED Completer (Rate)                        object
Other Transfer (Count)                      object
Other Transfer (Rate)                       object
Dropout (Count)                             object
Dropout (Rate)                              object
Still Enrolled (Count)                      object
Still Enrolled (Rate)                       object
dtype: object

In [90]:
grad_counties=grad_counties.replace("*",np.nan)

In [95]:
grad_counties.rename(columns={"Dropout (Rate)":"Dropoutrate"},inplace=True)

In [98]:
grad_counties['Dropoutrate'].groupby(by='CountyName').mean()

KeyError: 'CountyName'

In [41]:
rates.head()

,Unnamed: 0,Unnamed: 0.1,CountyCode,DistrictCode,SchoolCode
CountyName,,,,,
Alameda,55058.786260,55058.786260,1.0,58955.743928,214044.350660
Amador,46067.993902,46067.993902,3.0,51356.797834,231815.176895
Butte,51652.976656,51652.976656,4.0,52482.102397,463580.839506
Calaveras,48949.265722,48949.265722,5.0,46217.943831,814737.532598
Colusa,44884.890925,44884.890925,6.0,55662.107692,367130.161538

In [42]:
rates.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'CountyCode', 'DistrictCode',
       'SchoolCode'],
      dtype='object')

In [43]:
grad_counties.dtypes

Unnamed: 0                                   int64
Unnamed: 0.1                                 int64
AcademicYear                                object
AggregateLevel                              object
CountyCode                                   int64
DistrictCode                               float64
SchoolCode                                 float64
CountyName                                  object
DistrictName                                object
SchoolName                                  object
CharterSchool                               object
DASS                                        object
ReportingCategory                           object
CohortStudents                              object
Regular HS Diploma Graduates (Count)        object
Regular HS Diploma Graduates (Rate)         object
Met UC/CSU Grad Req's (Count)               object
Met UC/CSU Grad Req's (Rate)                object
Seal of Biliteracy (Count)                  object
Seal of Biliteracy (Rate)                   object
Golden State Seal Merit Diploma (Count)     object
Golden State Seal Merit Diploma (Rate       object
CHSPE Completer (Count)                     object
CHSPE Completer (Rate)                      object
Adult Ed. HS Diploma (Count)                object
Adult Ed. HS Diploma (Rate)                 object
SPED Certificate (Count)                    object
SPED Certificate (Rate)                     object
GED Completer (Count)                       object
GED Completer (Rate)                        object
Other Transfer (Count)                      object
Other Transfer (Rate)                       object
Dropout (Count)                             object
Dropout (Rate)                              object
Still Enrolled (Count)                      object
Still Enrolled (Rate)                       object
dtype: object

In [44]:
import numpy as np

In [45]:
grad_counties=grad_counties.replace("*",np.nan)

In [46]:
grad_counties["Dropout (Rate)"]=grad_counties["Dropout (Rate)"].astype(float)

In [47]:
grad_counties.dtypes

Unnamed: 0                                   int64
Unnamed: 0.1                                 int64
AcademicYear                                object
AggregateLevel                              object
CountyCode                                   int64
DistrictCode                               float64
SchoolCode                                 float64
CountyName                                  object
DistrictName                                object
SchoolName                                  object
CharterSchool                               object
DASS                                        object
ReportingCategory                           object
CohortStudents                              object
Regular HS Diploma Graduates (Count)        object
Regular HS Diploma Graduates (Rate)         object
Met UC/CSU Grad Req's (Count)               object
Met UC/CSU Grad Req's (Rate)                object
Seal of Biliteracy (Count)                  object
Seal of Biliteracy (Rate)                   object
Golden State Seal Merit Diploma (Count)     object
Golden State Seal Merit Diploma (Rate       object
CHSPE Completer (Count)                     object
CHSPE Completer (Rate)                      object
Adult Ed. HS Diploma (Count)                object
Adult Ed. HS Diploma (Rate)                 object
SPED Certificate (Count)                    object
SPED Certificate (Rate)                     object
GED Completer (Count)                       object
GED Completer (Rate)                        object
Other Transfer (Count)                      object
Other Transfer (Rate)                       object
Dropout (Count)                             object
Dropout (Rate)                             float64
Still Enrolled (Count)                      object
Still Enrolled (Rate)                       object
dtype: object

In [48]:
grad_counties["Regular HS Diploma Graduates (Rate)"]=grad_counties["Regular HS Diploma Graduates (Rate)"].astype(float)

In [49]:
grad_counties.head()

,Unnamed: 0,Unnamed: 0.1,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,0,0,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,65,0.8,2,0.0,24,0.3,440,5.2,228,2.7
1,1,1,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,123,1.3,1,0.0,54,0.6,823,9.0,417,4.6
2,2,2,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,24,0.6,0,0.0,11,0.3,112,2.6,41,1.0
3,3,3,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,39,2.2,0,0.0,10,0.6,167,9.2,148,8.2
4,4,4,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,3,3.3,0,0.0,4,4.3,15,16.3,7,7.6

In [50]:
grad_counties.dtypes

Unnamed: 0                                   int64
Unnamed: 0.1                                 int64
AcademicYear                                object
AggregateLevel                              object
CountyCode                                   int64
DistrictCode                               float64
SchoolCode                                 float64
CountyName                                  object
DistrictName                                object
SchoolName                                  object
CharterSchool                               object
DASS                                        object
ReportingCategory                           object
CohortStudents                              object
Regular HS Diploma Graduates (Count)        object
Regular HS Diploma Graduates (Rate)        float64
Met UC/CSU Grad Req's (Count)               object
Met UC/CSU Grad Req's (Rate)                object
Seal of Biliteracy (Count)                  object
Seal of Biliteracy (Rate)                   object
Golden State Seal Merit Diploma (Count)     object
Golden State Seal Merit Diploma (Rate       object
CHSPE Completer (Count)                     object
CHSPE Completer (Rate)                      object
Adult Ed. HS Diploma (Count)                object
Adult Ed. HS Diploma (Rate)                 object
SPED Certificate (Count)                    object
SPED Certificate (Rate)                     object
GED Completer (Count)                       object
GED Completer (Rate)                        object
Other Transfer (Count)                      object
Other Transfer (Rate)                       object
Dropout (Count)                             object
Dropout (Rate)                             float64
Still Enrolled (Count)                      object
Still Enrolled (Rate)                       object
dtype: object

In [51]:
grad_counties.head()

,Unnamed: 0,Unnamed: 0.1,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,0,0,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,65,0.8,2,0.0,24,0.3,440,5.2,228,2.7
1,1,1,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,123,1.3,1,0.0,54,0.6,823,9.0,417,4.6
2,2,2,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,24,0.6,0,0.0,11,0.3,112,2.6,41,1.0
3,3,3,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,39,2.2,0,0.0,10,0.6,167,9.2,148,8.2
4,4,4,2019-20,C,1,NaN,NaN,Alameda,NaN,NaN,...,3,3.3,0,0.0,4,4.3,15,16.3,7,7.6

In [52]:
schoolcounty_data=CAcounties_absentrate.merge(grad_counties,on="CountyName")

In [53]:
schoolcounty_data.head()

,CountyName,ChronicAbsenteeismCount,CumulativeEnrollment,absentrate,Unnamed: 0,Unnamed: 0.1,AcademicYear,AggregateLevel,CountyCode,DistrictCode,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,Alameda,373198.0,2345464.0,0.159115,0,0,2019-20,C,1,NaN,...,65,0.8,2,0.0,24,0.3,440,5.2,228,2.7
1,Alameda,373198.0,2345464.0,0.159115,1,1,2019-20,C,1,NaN,...,123,1.3,1,0.0,54,0.6,823,9.0,417,4.6
2,Alameda,373198.0,2345464.0,0.159115,2,2,2019-20,C,1,NaN,...,24,0.6,0,0.0,11,0.3,112,2.6,41,1.0
3,Alameda,373198.0,2345464.0,0.159115,3,3,2019-20,C,1,NaN,...,39,2.2,0,0.0,10,0.6,167,9.2,148,8.2
4,Alameda,373198.0,2345464.0,0.159115,4,4,2019-20,C,1,NaN,...,3,3.3,0,0.0,4,4.3,15,16.3,7,7.6

In [54]:
schoolcounty_data=schoolcounty_data.reset_index()

In [55]:
schoolcounty_data.head()

,index,CountyName,ChronicAbsenteeismCount,CumulativeEnrollment,absentrate,Unnamed: 0,Unnamed: 0.1,AcademicYear,AggregateLevel,CountyCode,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,0,Alameda,373198.0,2345464.0,0.159115,0,0,2019-20,C,1,...,65,0.8,2,0.0,24,0.3,440,5.2,228,2.7
1,1,Alameda,373198.0,2345464.0,0.159115,1,1,2019-20,C,1,...,123,1.3,1,0.0,54,0.6,823,9.0,417,4.6
2,2,Alameda,373198.0,2345464.0,0.159115,2,2,2019-20,C,1,...,24,0.6,0,0.0,11,0.3,112,2.6,41,1.0
3,3,Alameda,373198.0,2345464.0,0.159115,3,3,2019-20,C,1,...,39,2.2,0,0.0,10,0.6,167,9.2,148,8.2
4,4,Alameda,373198.0,2345464.0,0.159115,4,4,2019-20,C,1,...,3,3.3,0,0.0,4,4.3,15,16.3,7,7.6

In [56]:
from geosnap import datasets

In [57]:
counties=datasets.counties()

In [58]:
counties.head()

   geoid                                           geometry
0  31039  POLYGON ((-97.01952 42.00410, -97.01952 42.004...
1  53069  POLYGON ((-123.43639 46.23820, -123.44759 46.2...
2  35011  POLYGON ((-104.56739 33.99757, -104.56772 33.9...
3  31109  POLYGON ((-96.91060 40.95841, -96.91060 40.958...
4  31129  POLYGON ((-98.27367 40.08940, -98.27367 40.089...

In [59]:
fips=pandas.read_csv("https://raw.githubusercontent.com/kjhealy/us-county/master/data/census/fips-by-state.csv",converters={"fips":str},encoding="latin1")

In [60]:
fips.head()

    fips            name state
0  01001  Autauga County    AL
1  01003  Baldwin County    AL
2  01005  Barbour County    AL
3  01007     Bibb County    AL
4  01009   Blount County    AL

In [61]:
counties=counties.merge(fips,left_on="geoid",right_on="fips")

In [62]:
counties.head()

,geoid,geometry,fips,name,state
0,31039,"POLYGON ((-97.01952 42.00410, -97.01952 42.004...",31039,Cuming County,NE
1,53069,"POLYGON ((-123.43639 46.23820, -123.44759 46.2...",53069,Wahkiakum County,WA
2,35011,"POLYGON ((-104.56739 33.99757, -104.56772 33.9...",35011,De Baca County,NM
3,31109,"POLYGON ((-96.91060 40.95841, -96.91060 40.958...",31109,Lancaster County,NE
4,31129,"POLYGON ((-98.27367 40.08940, -98.27367 40.089...",31129,Nuckolls County,NE

In [63]:
counties.name=counties.name.apply(lambda x:x[:-7])

In [64]:
counties.head()

,geoid,geometry,fips,name,state
0,31039,"POLYGON ((-97.01952 42.00410, -97.01952 42.004...",31039,Cuming,NE
1,53069,"POLYGON ((-123.43639 46.23820, -123.44759 46.2...",53069,Wahkiakum,WA
2,35011,"POLYGON ((-104.56739 33.99757, -104.56772 33.9...",35011,De Baca,NM
3,31109,"POLYGON ((-96.91060 40.95841, -96.91060 40.958...",31109,Lancaster,NE
4,31129,"POLYGON ((-98.27367 40.08940, -98.27367 40.089...",31129,Nuckolls,NE

In [65]:
schoolcounty_data.head()

,index,CountyName,ChronicAbsenteeismCount,CumulativeEnrollment,absentrate,Unnamed: 0,Unnamed: 0.1,AcademicYear,AggregateLevel,CountyCode,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,0,Alameda,373198.0,2345464.0,0.159115,0,0,2019-20,C,1,...,65,0.8,2,0.0,24,0.3,440,5.2,228,2.7
1,1,Alameda,373198.0,2345464.0,0.159115,1,1,2019-20,C,1,...,123,1.3,1,0.0,54,0.6,823,9.0,417,4.6
2,2,Alameda,373198.0,2345464.0,0.159115,2,2,2019-20,C,1,...,24,0.6,0,0.0,11,0.3,112,2.6,41,1.0
3,3,Alameda,373198.0,2345464.0,0.159115,3,3,2019-20,C,1,...,39,2.2,0,0.0,10,0.6,167,9.2,148,8.2
4,4,Alameda,373198.0,2345464.0,0.159115,4,4,2019-20,C,1,...,3,3.3,0,0.0,4,4.3,15,16.3,7,7.6

In [66]:
counties=counties.merge(schoolcounty_data, left_on="name", right_on="CountyName",how="right")

In [67]:
counties.head()

,geoid,geometry,fips,name,state,index,CountyName,ChronicAbsenteeismCount,CumulativeEnrollment,absentrate,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,06001,"POLYGON ((-122.28088 37.70723, -122.28178 37.7...",06001,Alameda,CA,0,Alameda,373198.0,2345464.0,0.159115,...,65,0.8,2,0.0,24,0.3,440,5.2,228,2.7
1,06001,"POLYGON ((-122.28088 37.70723, -122.28178 37.7...",06001,Alameda,CA,1,Alameda,373198.0,2345464.0,0.159115,...,123,1.3,1,0.0,54,0.6,823,9.0,417,4.6
2,06001,"POLYGON ((-122.28088 37.70723, -122.28178 37.7...",06001,Alameda,CA,2,Alameda,373198.0,2345464.0,0.159115,...,24,0.6,0,0.0,11,0.3,112,2.6,41,1.0
3,06001,"POLYGON ((-122.28088 37.70723, -122.28178 37.7...",06001,Alameda,CA,3,Alameda,373198.0,2345464.0,0.159115,...,39,2.2,0,0.0,10,0.6,167,9.2,148,8.2
4,06001,"POLYGON ((-122.28088 37.70723, -122.28178 37.7...",06001,Alameda,CA,4,Alameda,373198.0,2345464.0,0.159115,...,3,3.3,0,0.0,4,4.3,15,16.3,7,7.6

In [68]:
counties.shape

(371193, 45)

In [69]:
counties=counties[counties.state=="CA"]

In [70]:
counties.head()

,geoid,geometry,fips,name,state,index,CountyName,ChronicAbsenteeismCount,CumulativeEnrollment,absentrate,...,SPED Certificate (Count),SPED Certificate (Rate),GED Completer (Count),GED Completer (Rate),Other Transfer (Count),Other Transfer (Rate),Dropout (Count),Dropout (Rate),Still Enrolled (Count),Still Enrolled (Rate)
0,06001,"POLYGON ((-122.28088 37.70723, -122.28178 37.7...",06001,Alameda,CA,0,Alameda,373198.0,2345464.0,0.159115,...,65,0.8,2,0.0,24,0.3,440,5.2,228,2.7
1,06001,"POLYGON ((-122.28088 37.70723, -122.28178 37.7...",06001,Alameda,CA,1,Alameda,373198.0,2345464.0,0.159115,...,123,1.3,1,0.0,54,0.6,823,9.0,417,4.6
2,06001,"POLYGON ((-122.28088 37.70723, -122.28178 37.7...",06001,Alameda,CA,2,Alameda,373198.0,2345464.0,0.159115,...,24,0.6,0,0.0,11,0.3,112,2.6,41,1.0
3,06001,"POLYGON ((-122.28088 37.70723, -122.28178 37.7...",06001,Alameda,CA,3,Alameda,373198.0,2345464.0,0.159115,...,39,2.2,0,0.0,10,0.6,167,9.2,148,8.2
4,06001,"POLYGON ((-122.28088 37.70723, -122.28178 37.7...",06001,Alameda,CA,4,Alameda,373198.0,2345464.0,0.159115,...,3,3.3,0,0.0,4,4.3,15,16.3,7,7.6

In [71]:
counties.columns

Index(['geoid', 'geometry', 'fips', 'name', 'state', 'index', 'CountyName',
       'ChronicAbsenteeismCount', 'CumulativeEnrollment', 'absentrate',
       'Unnamed: 0', 'Unnamed: 0.1', 'AcademicYear', 'AggregateLevel',
       'CountyCode', 'DistrictCode', 'SchoolCode', 'DistrictName',
       'SchoolName', 'CharterSchool', 'DASS', 'ReportingCategory',
       'CohortStudents', 'Regular HS Diploma Graduates (Count)',
       'Regular HS Diploma Graduates (Rate)', 'Met UC/CSU Grad Req's (Count)',
       'Met UC/CSU Grad Req's (Rate)', 'Seal of Biliteracy (Count)',
       'Seal of Biliteracy (Rate)', 'Golden State Seal Merit Diploma (Count)',
       'Golden State Seal Merit Diploma (Rate', 'CHSPE Completer (Count)',
       'CHSPE Completer (Rate)', 'Adult Ed. HS Diploma (Count)',
       'Adult Ed. HS Diploma (Rate)', 'SPED Certificate (Count)',
       'SPED Certificate (Rate)', 'GED Completer (Count)',
       'GED Completer (Rate)', 'Other Transfer (Count)',
       'Other Transfer (Rate)', 'Dropout (Count)', 'Dropout (Rate)',
       'Still Enrolled (Count)', 'Still Enrolled (Rate)'],
      dtype='object')

In [1]:
counties.plot()

NameError: name 'counties' is not defined

In [ ]:
counties.plot()

In [ ]:
counties.plot(column='absentrate', cmap='Greens', scheme='Quantiles', k=5,edgecolor='grey',
        legend=True)

In [ ]:
counties.plot(column='Dropout (Rate)', cmap='Greens', scheme='Quantiles', k=3,edgecolor='grey',
        legend=True)

In [ ]:
counties.to_parquet("SchoolCounty_Data.parquet")

In [ ]:
gpd.read_parquet("schoolcounty_data.parquet")